flows_pi3.json
[{"id":"1f99a0f6.28665f","type":"tab","label":"TLPOST","disabled":false,"info":""},{"id":"9d7396f9.8ee148","type":"tab","label":"Split","disabled":false,"info":""},{"id":"1507436a.25c38d","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"feddcb0.e054338","type":"tab","label":"Details","disabled":false,"info":""},{"id":"1217609f.e4311f","type":"tab","label":"Switches","disabled":false,"info":""},{"id":"5f2aaf6e.724ed","type":"tab","label":"Alarm","disabled":false,"info":""},{"id":"4313f3a8.21d0bc","type":"tab","label":"Arduino","disabled":false,"info":""},{"id":"2a5b9314.97adfc","type":"tab","label":"Air flow","disabled":false,"info":""},{"id":"25c5edf9.35e612","type":"tab","label":"Status","disabled":false,"info":""},{"id":"fe00d0b1.867f5","type":"tab","label":"Clock","disabled":false,"info":""},{"id":"e51a63be.07b32","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"micktomar","tz":""},{"id":"3afd535f.83c38c","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"micktomar","tz":"GMT+1"},{"id":"c1af5df5.5ad37","type":"ui_group","z":"","name":"Temp","tab":"fc8eb660.46f1d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"fc8eb660.46f1d8","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"109af70c.a64d39","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c0f11969.8c2898","type":"ui_tab","z":"","name":"Details","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"9e0d5648.0a5768","type":"ui_group","z":"","name":"Details","tab":"c0f11969.8c2898","disp":false,"width":"20","collapse":false},{"id":"910f7208.9930c","type":"ui_group","z":"","name":"Hum","tab":"fc8eb660.46f1d8","order":3,"disp":true,"width":"6","collapse":false},{"id":"9fbbcf8e.b72c5","type":"ui_group","z":"","name":"Light","tab":"fc8eb660.46f1d8","order":5,"disp":true,"width":"6","collapse":false},{"id":"445d7783.3ce2a8","type":"ui_group","z":"","name":"Motion","tab":"fc8eb660.46f1d8","order":7,"disp":true,"width":"6","collapse":false},{"id":"4e2a662c.f25a98","type":"ui_group","z":"","name":"Doors","tab":"fc8eb660.46f1d8","order":6,"disp":true,"width":"6","collapse":false},{"id":"a7c37305.360f6","type":"ui_group","z":"","name":"Hue","tab":"fc8eb660.46f1d8","order":8,"disp":true,"width":"6","collapse":false},{"id":"d202e786.ab0988","type":"ui_group","z":"","name":"Alarm","tab":"f3f0ba7d.537668","disp":true,"width":"7","collapse":false},{"id":"f3f0ba7d.537668","type":"ui_tab","z":"","name":"Alarm","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"38bd1ef9.2e2d02","type":"ui_group","z":"","name":"test","tab":"","disp":true,"width":"6","collapse":false},{"id":"bcbea2d5.d11d5","type":"mqtt-broker","z":"","name":"broker","broker":"192.168.2.23","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9f6a4228.ab076","type":"mqtt-broker","z":"","name":"","broker":"192.168.2.23","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"da65b3ca.148b6","type":"ui_group","z":"","name":"Switches","tab":"fc8eb660.46f1d8","order":9,"disp":true,"width":"6","collapse":false},{"id":"4c423b20.35be44","type":"ui_group","z":"","name":"Status","tab":"fc8eb660.46f1d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"42a9afea.d7698","type":"ui_group","z":"","name":"Garage","tab":"d7846117.9685b","disp":true,"width":"6","collapse":false},{"id":"d7846117.9685b","type":"ui_tab","z":"","name":"Garage","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"b466a4fe.23b6c8","type":"ui_group","z":"","name":"Openers","tab":"fc8eb660.46f1d8","order":10,"disp":true,"width":"6","collapse":false},{"id":"2feaa2a3.59bcee","type":"ui_group","z":"","name":"Sirene","tab":"fc8eb660.46f1d8","order":11,"disp":true,"width":"6","collapse":false},{"id":"ad53cd18.b4eb8","type":"ui_group","z":"","name":"G_2","tab":"1cefaa8d.deec65","order":4,"disp":false,"width":"6","collapse":false},{"id":"1cefaa8d.deec65","type":"ui_tab","z":"","name":"Drivecamlrgscreen","icon":"dashboard","order":5},{"id":"dae916bf.273478","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"245e82d3.0bd55e","type":"ui_group","z":"","name":"Rain","tab":"fc8eb660.46f1d8","order":4,"disp":true,"width":"6","collapse":false},{"id":"e03ce14f.1e3ec","type":"inject","z":"feddcb0.e054338","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":"1","x":110,"y":100,"wires":[["1b9e82db.61044d"]]},{"id":"1b9e82db.61044d","type":"function","z":"feddcb0.e054338","name":"select","func":"msg.topic=\"SELECT Id,Value1,Value2, LastValueUpdate, LastValue1Change, LastAliveUpdate, LastStartupUpdate, FirstStartup, Battery, Version from LoraThings\";\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":100,"wires":[["dcc1a6e7.0a7f88"]]},{"id":"dcc1a6e7.0a7f88","type":"mysql","z":"feddcb0.e054338","mydb":"3afd535f.83c38c","name":"ttndb3","x":410,"y":100,"wires":[["f8156b66.8369f8","e9b40c6d.8f434"]]},{"id":"559ac2e7.5015bc","type":"function","z":"9d7396f9.8ee148","name":"select","func":"var f = msg.payload;\nvar pf = msg.payload.payload_fields;\n\nmsg.topic=\"SELECT Id,Value1,Value2, LastValueUpdate, UNIX_TIMESTAMP(LastValueUpdate) StampV, LastAliveUpdate, UNIX_TIMESTAMP(LastAliveUpdate) StampA, LastStartupUpdate, UNIX_TIMESTAMP(LastStartupUpdate) StampS, FirstStartup, Battery, Version, LastValue1Change, UNIX_TIMESTAMP(LastValue1Change) StampC from LoraThings WHERE Id='\" + f.dev_id + \"'\";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":80,"wires":[["f611cc93.04046"]]},{"id":"f611cc93.04046","type":"mysql","z":"9d7396f9.8ee148","mydb":"3afd535f.83c38c","name":"ttndb2","x":330,"y":80,"wires":[["9090b530.a897c8","5e7c32e.b153acc","95d4174a.de3348"]]},{"id":"8e16565b.abfd48","type":"function","z":"9d7396f9.8ee148","name":"format","func":"var BATTERY_QUESTION=null;\nvar POWER=0;\nvar BATTERY_FULL=640;\nvar BATTERY_MED=630;\nvar BATTERY_LOW=576;\nvar now = Date.now();\n\n//light1, empty 563 laatste, maar eerder 555, >570 dagen ervoor\n\nnow = Math.floor(now/1000);\n\n//var f = msg.payload[0];\nvar f = msg.payload; //use of split\n\nvar pastV = now - f.StampV;\nvar pastA = now - f.StampA;\nvar pastS = now - f.StampS;\nvar pastC = now - f.StampC;\n\nvar newMsg = { payload: {} }; \n\n\nnewMsg.payload.Id = f.Id;\nnewMsg.payload.LastValue1Change = f.LastValue1Change;\nnewMsg.payload.Value1 = f.Value1;\nnewMsg.payload.Value2 = f.Value2;\nnewMsg.payload.pastV = pastV;\n\nif(f.LastValueUpdate)  newMsg.payload.LastValueUpdate = f.LastValueUpdate.toString().substr(0, 24);\n//node.warn(f.Id + \"*: \" + f.LastValueUpdate);\n//node.warn(f.Id + \": \" + f.LastValueUpdate.toString());\nif(f.LastValue1Change) newMsg.payload.LastValue1Change = f.LastValue1Change.toString().substr(0, 24);  \n\n\n//node.warn(\"====>\" + f.Id);\n//node.warn(\"now: \" + now);\n//node.warn(\"stampV: \" + f.StampV);\n//node.warn(\"pastV: \" + pastV);\n\n\nif (f.Battery == BATTERY_QUESTION)\n{\n  newMsg.payload.picbat = \"/battery-question.png\";      \n}\nelse if (f.Battery == POWER)\n{\n  newMsg.payload.picbat= \"/battery-charge.png\";      \n}\n\nelse if (f.Battery >= BATTERY_FULL)\n{\n  newMsg.payload.picbat= \"/battery-full.png\";  \n}\nelse if ( (f.Battery >= BATTERY_MED) &&\n          (f.Battery <= BATTERY_FULL) )\n{\n  newMsg.payload.picbat= \"/battery-med.png\";      \n}\nelse if ( (f.Battery >= BATTERY_LOW) &&\n          (f.Battery <= BATTERY_MED) )\n{\n  newMsg.payload.picbat= \"/battery-low.png\";      \n}\nelse\n{\n  newMsg.payload.picbat= \"/battery-empty.png\";  \n}\n\nif( (pastV <= 10800) || (pastA <= 10800) || (pastS <= 10800) )//3 uur\n{\n    newMsg.payload.piconl = \"/traffic-light-green.png\";  \n}\nelse if( (pastV <= 14400) || (pastA <= 14400) || (pastS <= 14400) )//4 uur\n{\n    newMsg.payload.piconl = \"/traffic-light-yellow.png\"; \n}\nelse\n{\n    newMsg.payload.piconl = \"/traffic-light-red.png\"; \n}\n\nif( (pastV <= 10) || (pastA <= 10) || (pastS <= 10) )\n//if(pastV <= 10)\n{\n    newMsg.payload.picact = \"/led-red-blink.gif\"; \n}\nelse\n{\n    newMsg.payload.picact = \"/led-green-on.gif\"; \n}\n\n\nif ( (f.Id == \"motion1\") || (f.Id == \"motion2\") || (f.Id == \"motion3\"))\n{\n    if(f.Value1 == 1)\n    {\n       newMsg.payload.picmotion = \"/motionOn.png\"; \n       newMsg.payload.piconoff = \"/led-red-on.gif\"; \n    }\n    else \n    {\n       newMsg.payload.picmotion = \"/motionOff.png\"; \n       newMsg.payload.piconoff = \"/led-green-on.gif\";\n    }\n}\nelse if ( (f.Id == \"door1\") || (f.Id == \"door2\") )\n{\n    if(f.Value1 == 1)\n    {\n       newMsg.payload.picdoor = \"/doorOpen.png\"; \n       newMsg.payload.piconoff = \"/led-red-on.gif\"; \n    }\n    else \n    {\n       newMsg.payload.picdoor = \"/doorClosed.png\"; \n       newMsg.payload.piconoff = \"/led-green-on.gif\";\n    }\n}\n\n\n\nelse if (f.Id == \"sirene1\")\n{\n//    node.warn(\"+++++sirene1\");\n    if(f.Value1 == 0)\n    {\n       newMsg.payload.piconoff = \"/led-green-on.gif\"; \n       newMsg.payload.picsirene = \"/sireneDisarmed.png\"; \n//       node.warn(\"+++++++++++led green on\");\n\n    }\n    else if(f.Value1 == 1) \n    {\n       newMsg.payload.piconoff = \"/led-red-on.gif\"; \n       newMsg.payload.picsirene = \"/sireneArmed.png\"; \n    }\n    else if(f.Value1 == 2) \n    {\n      newMsg.payload.piconoff = \"/led-red-blink.gif\"; \n      newMsg.payload.picsirene = \"/sireneFlits.png\"; \n    }\n    else if(f.Value1 == 3) \n    {\n      newMsg.payload.piconoff = \"/led-red-blink.gif\"; \n      newMsg.payload.picsirene = \"/sireneSound.png\"; \n    }\n}\nelse\n{\n  if(f.Value1 == 1)\n  {\n    newMsg.payload.piconoff = \"/led-red-on.gif\"; \n  }\n  else\n  {\n    newMsg.payload.piconoff = \"/led-green-on.gif\";\n  }\n}\n\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":110,"y":220,"wires":[["79dbb258.7f322c"]]},{"id":"54eebbcd.69d1d4","type":"function","z":"9d7396f9.8ee148","name":"temp1","func":"msg.payload.Value1 = msg.payload.Value1/100;\nmsg.payload.Value2 = msg.payload.Value2/100;\n    \nreturn msg;\n","outputs":1,"noerr":0,"x":450,"y":180,"wires":[["53fcf747.4429d8"]]},{"id":"f75b833e.2e551","type":"function","z":"9d7396f9.8ee148","name":"temp2","func":"msg.payload.Value1 = msg.payload.Value1/100;\nmsg.payload.Value2 = msg.payload.Value2/100;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":220,"wires":[["e07d7b2b.8e0c18"]]},{"id":"9b98f51e.25bf88","type":"function","z":"9d7396f9.8ee148","name":"light1","func":"var _prev = context.get(\"prev\");\n\n\n\n//somtetimes sensor 0, but not complete dark\n//node.warn(\"Value1: \" + msg.payload.Value1);\nif(msg.payload.Value1 == \"0\")\n{\n  msg.payload.Value1 = _prev;\n  //node.warn(\"_prev: \" + _prev);\n}\nelse\n{\n  context.set(\"prev\", msg.payload.Value1);\n}\n//node.warn(\"new Value1: \" + msg.payload.Value1);\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":340,"wires":[["9a1f2d84.7a0db"]]},{"id":"3b19adfe.320992","type":"inject","z":"9d7396f9.8ee148","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":130,"y":20,"wires":[["e1bec36b.3c3ef"]]},{"id":"e1bec36b.3c3ef","type":"function","z":"9d7396f9.8ee148","name":"select (init + test)","func":"\n\nmsg.topic=\"SELECT Id,Value1,Value2, LastValueUpdate, UNIX_TIMESTAMP(LastValueUpdate) StampV, LastAliveUpdate, UNIX_TIMESTAMP(LastAliveUpdate) StampA, LastStartupUpdate, UNIX_TIMESTAMP(LastStartupUpdate) StampS, FirstStartup, Battery, Version, LastValue1Change from LoraThings\";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":20,"wires":[["f611cc93.04046"]]},{"id":"9090b530.a897c8","type":"split","z":"9d7396f9.8ee148","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":490,"y":80,"wires":[["8e16565b.abfd48"]]},{"id":"95d4174a.de3348","type":"debug","z":"9d7396f9.8ee148","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":40,"wires":[]},{"id":"bfd0afaf.3f9a4","type":"link in","z":"9d7396f9.8ee148","name":"ttngot","links":["faeacef6.dc9b2","f8fb4dd0.08f72","58addbcd.4fb134","85252ab.614c6d8"],"x":35,"y":80,"wires":[["559ac2e7.5015bc"]]},{"id":"3c5c71f0.5218ae","type":"ui_gauge","z":"1507436a.25c38d","name":"temp1 gauge","group":"c1af5df5.5ad37","order":1,"width":"3","height":"3","gtype":"gage","title":"Garden","label":"graden C","format":"{{msg.payload.Value1}}","min":"-20","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"10","seg2":"25","x":190,"y":80,"wires":[]},{"id":"5f253eed.9d0c5","type":"ui_gauge","z":"1507436a.25c38d","name":"hum1 gauge","group":"910f7208.9930c","order":1,"width":"3","height":"3","gtype":"gage","title":"Garden","label":"%","format":"{{msg.payload.Value2}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"80","x":190,"y":160,"wires":[]},{"id":"da2d87e8.69e058","type":"ui_template","z":"1507436a.25c38d","group":"c1af5df5.5ad37","name":"temp1 leds","order":3,"width":"3","height":"1","format":"<p style=\"text-align:center;font-size:75%;\"><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"16\" src=\"{{msg.payload.picbat}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"16\" src=\"{{msg.payload.piconl}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"8\" width=\"8\" src=\"{{msg.payload.picact}}\"/>{{msg.payload.Id}}</p>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":190,"y":120,"wires":[[]]},{"id":"3dcfd369.ac2cac","type":"ui_template","z":"1507436a.25c38d","group":"910f7208.9930c","name":"hum1 leds","order":3,"width":"3","height":"1","format":"<p style=\"text-align:center;font-size:75%;\"><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"16\" src=\"{{msg.payload.picbat}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"16\" src=\"{{msg.payload.piconl}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"8\" width=\"8\" src=\"{{msg.payload.picact}}\"/>{{msg.payload.Id}}</p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":190,"y":200,"wires":[[]]},{"id":"eedfba12.8c5b18","type":"ui_gauge","z":"1507436a.25c38d","name":"temp2 gauge","group":"c1af5df5.5ad37","order":2,"width":"3","height":"3","gtype":"gage","title":"Living","label":"graden C","format":"{{msg.payload.Value1}}","min":"-20","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"10","seg2":"25","x":190,"y":240,"wires":[]},{"id":"a7aa66e9.cd21d8","type":"ui_gauge","z":"1507436a.25c38d","name":"hum2 gauge","group":"910f7208.9930c","order":2,"width":"3","height":"3","gtype":"gage","title":"Living","label":"%","format":"{{msg.payload.Value2}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"80","x":190,"y":320,"wires":[]},{"id":"b6b6d5ff.cfa448","type":"ui_template","z":"1507436a.25c38d","group":"c1af5df5.5ad37","name":"temp2 leds","order":4,"width":"3","height":"1","format":"<p style=\"text-align:center;font-size:75%;\"><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"16\" src=\"{{msg.payload.picbat}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"16\" src=\"{{msg.payload.piconl}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"8\" width=\"8\" src=\"{{msg.payload.picact}}\"/>{{msg.payload.Id}}</p>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":190,"y":280,"wires":[[]]},{"id":"efddc7fd.931ac8","type":"ui_template","z":"1507436a.25c38d","group":"910f7208.9930c","name":"hum2 leds","order":4,"width":"3","height":"1","format":"<p style=\"text-align:center;font-size:75%;\"><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"16\" src=\"{{msg.payload.picbat}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"16\" src=\"{{msg.payload.piconl}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"8\" width=\"8\" src=\"{{msg.payload.picact}}\"/>{{msg.payload.Id}}</p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":190,"y":360,"wires":[[]]},{"id":"29874b8.e3fbfb4","type":"function","z":"1507436a.25c38d","name":"Layout temp1 chart","func":"var newMsg = { topic:\"outsite\", payload: 0 };\n\nnewMsg.payload = msg.payload.Value1;\n\nreturn newMsg;","outputs":1,"noerr":0,"x":410,"y":80,"wires":[["6fbe4706.874788"]]},{"id":"6fbe4706.874788","type":"ui_chart","z":"1507436a.25c38d","name":"temp1 chart","group":"c1af5df5.5ad37","order":5,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"-30","ymax":"50","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":610,"y":80,"wires":[[]]},{"id":"b4ba4bb3.83e2c8","type":"function","z":"1507436a.25c38d","name":"Layout hum1 chart","func":"var newMsg = { topic:\"outsite\", payload: 0 };\n\nnewMsg.payload = msg.payload.Value2;\n\nreturn newMsg;","outputs":1,"noerr":0,"x":410,"y":160,"wires":[["e4e6227f.dfa0a"]]},{"id":"e4e6227f.dfa0a","type":"ui_chart","z":"1507436a.25c38d","name":"hum1 chart","group":"910f7208.9930c","order":5,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":610,"y":120,"wires":[[],[]]},{"id":"1115fe83.8268b1","type":"function","z":"1507436a.25c38d","name":"Layout temp2 chart","func":"var newMsg = { topic:\"living\", payload: 0 };\n\nnewMsg.payload = msg.payload.Value1;\n\nreturn newMsg;","outputs":1,"noerr":0,"x":410,"y":240,"wires":[["6fbe4706.874788"]]},{"id":"1a3b25e0.76cc8a","type":"function","z":"1507436a.25c38d","name":"Layout hum2 chart","func":"var newMsg = { topic:\"living\", payload: 0 };\n\nnewMsg.payload = msg.payload.Value2;\n\nreturn newMsg;","outputs":1,"noerr":0,"x":410,"y":320,"wires":[["e4e6227f.dfa0a"]]},{"id":"1f043c3d.520064","type":"ui_gauge","z":"1507436a.25c38d","name":"light1_meter","group":"9fbbcf8e.b72c5","order":1,"width":"3","height":"3","gtype":"gage","title":"Garden","label":"Lux","format":"{{msg.payload.Value1}}","min":"0","max":"25000","colors":["#000000","#ffffff","#ffff80"],"seg1":"10000","seg2":"20000","x":190,"y":880,"wires":[]},{"id":"1d285856.487618","type":"ui_template","z":"1507436a.25c38d","group":"9fbbcf8e.b72c5","name":"light1 leds","order":1,"width":0,"height":0,"format":"<p style=\"text-align:left;font-size:75%;\"><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"16\" src=\"{{msg.payload.picbat}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"16\" src=\"{{msg.payload.piconl}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"8\" width=\"8\" src=\"{{msg.payload.picact}}\"/>{{msg.payload.Id}} {{msg.payload.LastValue1Change}}</p>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":180,"y":920,"wires":[[]]},{"id":"45db8bb5.3466d4","type":"ui_template","z":"1507436a.25c38d","group":"4e2a662c.f25a98","name":"door1","order":1,"width":0,"height":0,"format":"<p style=\"text-align:center;\">Garage door</p>\n<p style=\"text-align:left;font-size:75%;\"><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"16\" src=\"{{msg.payload.picbat}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"16\" src=\"{{msg.payload.piconl}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"8\" width=\"8\" src=\"{{msg.payload.picact}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"8\" width=\"8\" src=\"{{msg.payload.piconoff}}\"/>{{msg.payload.Id}} {{msg.payload.LastValue1Change}}</p>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":190,"y":1160,"wires":[[]]},{"id":"8259568b.15ade8","type":"ui_template","z":"1507436a.25c38d","group":"da65b3ca.148b6","name":"switch1","order":1,"width":0,"height":0,"format":"<p style=\"text-align:center;\">Back Garden Light</p>\n<p style=\"text-align:left;font-size:75%;\"><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"16\" src=\"{{msg.payload.picbat}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"16\" src=\"{{msg.payload.piconl}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"8\" width=\"8\" src=\"{{msg.payload.picact}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"8\" width=\"8\" src=\"{{msg.payload.piconoff}}\"/>{{msg.payload.Id}} {{msg.payload.LastValue1Change}}</p>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":180,"y":420,"wires":[[]]},{"id":"6e32c153.f2cc5","type":"ui_template","z":"1507436a.25c38d","group":"da65b3ca.148b6","name":"switch2","order":3,"width":0,"height":0,"format":"<p style=\"text-align:center;\">Front Garden Light</p>\n<p style=\"text-align:left;font-size:75%;\"><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"16\" src=\"{{msg.payload.picbat}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"16\" src=\"{{msg.payload.piconl}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"8\" width=\"8\" src=\"{{msg.payload.picact}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"8\" width=\"8\" src=\"{{msg.payload.piconoff}}\"/>{{msg.payload.Id}} {{msg.payload.LastValue1Change}}</p>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":180,"y":480,"wires":[[]]},{"id":"1a88f105.e05c3f","type":"function","z":"1507436a.25c38d","name":"Layout light1","func":"var newMsg = { topic:\"light\", payload: 0 };\n\nnewMsg.payload = msg.payload.Value1;\n\nreturn newMsg;","outputs":1,"noerr":0,"x":370,"y":880,"wires":[[]]},{"id":"53fcf747.4429d8","type":"link out","z":"9d7396f9.8ee148","name":"temp1_out","links":["7f981974.18afb8"],"x":575,"y":180,"wires":[]},{"id":"e07d7b2b.8e0c18","type":"link out","z":"9d7396f9.8ee148","name":"temp2_out","links":["15ae8162.c51fdf"],"x":575,"y":220,"wires":[]},{"id":"77b03864.1d8d18","type":"link out","z":"9d7396f9.8ee148","name":"switch1_out","links":["7a60f09f.5b7ee","24e6c07d.af7f4","67fea50e.bc4d4c","e5d1a87f.1c23c8","766f21e8.9bf0b","20f41b54.3083b4"],"x":575,"y":260,"wires":[]},{"id":"b73a4acc.626338","type":"link out","z":"9d7396f9.8ee148","name":"switch2_out","links":["d92a2c68.40f4a","c0594d2d.2a8a9","9b25198e.7eeca8","c9a3fff5.d33b4","766f21e8.9bf0b","84fbabd3.8f06e8"],"x":575,"y":300,"wires":[]},{"id":"9a1f2d84.7a0db","type":"link out","z":"9d7396f9.8ee148","name":"light1_out","links":["12085bb2.6ad004","e5b27953.903a88","c5c42d6.82892d","d6bc21a0.2f2c5"],"x":575,"y":340,"wires":[]},{"id":"5c1e6f19.b09bc","type":"link out","z":"9d7396f9.8ee148","name":"motion1_out","links":["e5224e78.de283","e5a3d58e.188d78","17114919.4f6a07","a14d05bb.cccc98","ee79777e.6a9b58","2f6219f9.af1da6"],"x":575,"y":380,"wires":[]},{"id":"af2814cc.44fc48","type":"link out","z":"9d7396f9.8ee148","name":"motion2_out","links":["c59772f.13ca99","84cbca93.5288f8","a567f739.b0c5a8","79eeff75.0a4bc","aa471c03.feb2b"],"x":575,"y":420,"wires":[]},{"id":"9d4db096.92653","type":"link out","z":"9d7396f9.8ee148","name":"door1_out","links":["316bb8c4.d74318","de73d416.01c158","ea9ced6e.207ef","23364af7.841c46","c3cb5867.55aa18"],"x":575,"y":460,"wires":[]},{"id":"7f981974.18afb8","type":"link in","z":"1507436a.25c38d","name":"temp1_in","links":["53fcf747.4429d8"],"x":55,"y":80,"wires":[["3c5c71f0.5218ae","da2d87e8.69e058","29874b8.e3fbfb4","5f253eed.9d0c5","3dcfd369.ac2cac","b4ba4bb3.83e2c8"]]},{"id":"15ae8162.c51fdf","type":"link in","z":"1507436a.25c38d","name":"temp2_in","links":["e07d7b2b.8e0c18"],"x":55,"y":240,"wires":[["eedfba12.8c5b18","b6b6d5ff.cfa448","a7aa66e9.cd21d8","efddc7fd.931ac8","1115fe83.8268b1","1a3b25e0.76cc8a","95411e92.ae215","1cc45143.79935f"]]},{"id":"7a60f09f.5b7ee","type":"link in","z":"1507436a.25c38d","name":"switch1_in","links":["77b03864.1d8d18"],"x":55,"y":420,"wires":[["8259568b.15ade8"]]},{"id":"d92a2c68.40f4a","type":"link in","z":"1507436a.25c38d","name":"switch2_in","links":["b73a4acc.626338"],"x":55,"y":480,"wires":[["6e32c153.f2cc5"]]},{"id":"12085bb2.6ad004","type":"link in","z":"1507436a.25c38d","name":"light1_in","links":["9a1f2d84.7a0db"],"x":55,"y":880,"wires":[["1f043c3d.520064","1a88f105.e05c3f","1d285856.487618","68e10d80.48f014"]]},{"id":"e5224e78.de283","type":"link in","z":"1507436a.25c38d","name":"motion1_in","links":["5c1e6f19.b09bc"],"x":55,"y":980,"wires":[["7f851453.36784c"]]},{"id":"c59772f.13ca99","type":"link in","z":"1507436a.25c38d","name":"motion2_in","links":["af2814cc.44fc48","7cc9e8a9.d6cce8"],"x":55,"y":1040,"wires":[["8d452941.681fa8"]]},{"id":"de73d416.01c158","type":"link in","z":"1507436a.25c38d","name":"door1_in","links":["9d4db096.92653"],"x":55,"y":1160,"wires":[["45db8bb5.3466d4"]]},{"id":"79dbb258.7f322c","type":"switch","z":"9d7396f9.8ee148","name":"Split","property":"payload.Id","propertyType":"msg","rules":[{"t":"eq","v":"temperature1","vt":"str"},{"t":"eq","v":"temperature2","vt":"str"},{"t":"eq","v":"switch1","vt":"str"},{"t":"eq","v":"switch2","vt":"str"},{"t":"eq","v":"light1","vt":"str"},{"t":"eq","v":"motion1","vt":"str"},{"t":"eq","v":"motion2","vt":"str"},{"t":"eq","v":"door1","vt":"str"},{"t":"eq","v":"switch3","vt":"str"},{"t":"eq","v":"sirene1","vt":"str"},{"t":"eq","v":"door2","vt":"str"},{"t":"eq","v":"doorswitch1","vt":"str"},{"t":"eq","v":"motion3","vt":"str"},{"t":"eq","v":"remote1","vt":"str"},{"t":"eq","v":"switch4","vt":"str"},{"t":"eq","v":"clock1","vt":"str"},{"t":"eq","v":"motion4","vt":"str"},{"t":"eq","v":"rain1","vt":"str"}],"checkall":"false","repair":false,"outputs":18,"x":290,"y":240,"wires":[["54eebbcd.69d1d4"],["f75b833e.2e551"],["77b03864.1d8d18"],["b73a4acc.626338"],["9b98f51e.25bf88"],["5c1e6f19.b09bc"],["af2814cc.44fc48"],["9d4db096.92653"],["fceffa69.0402d8"],["98dc9c51.02e67"],["e663dbe5.809738"],["bc62e034.d140a"],["554c8bd6.2d9764"],["88f6fd11.c9dc"],["a3bb4fd.2620cb"],["80ab6148.41dcd"],["32adf9cb.533d26"],["f9bd08b8.64c428"]]},{"id":"5e7c32e.b153acc","type":"debug","z":"9d7396f9.8ee148","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":90,"y":360,"wires":[]},{"id":"c8e189b3.e73718","type":"inject","z":"9d7396f9.8ee148","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":480,"wires":[["ca00e5b4.358538"]]},{"id":"22d4721.03b108e","type":"debug","z":"9d7396f9.8ee148","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":480,"wires":[]},{"id":"ca00e5b4.358538","type":"function","z":"9d7396f9.8ee148","name":"Test datetime","func":"msg.payload = new Date(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":560,"wires":[["22d4721.03b108e"]]},{"id":"f8156b66.8369f8","type":"function","z":"feddcb0.e054338","name":"time format","func":"var f;\n\nfor(var i = 0; i < msg.payload.length; i++)\n{\n  f = msg.payload[i];\n\n  if(f.LastValueUpdate) f.LastValueUpdate = f.LastValueUpdate.toString().substr(0, 24);\n  if(f.LastValue1Change) f.LastValue1Change = f.LastValue1Change.toString().substr(0, 24);\n  if(f.LastAliveUpdate) f.LastAliveUpdate = f.LastAliveUpdate.toString().substr(0, 24);\n  if(f.LastStartupUpdate) f.LastStartupUpdate = f.LastStartupUpdate.toString().substr(0, 24);\n  if(f.FirstStartup) f.FirstStartup = f.FirstStartup.toString().substr(0, 24);\n  \n  if(f.Value2 == \"undefined\") f.Value2 = \"\";\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":100,"wires":[["3dc9d36f.a5066c"]]},{"id":"fceffa69.0402d8","type":"link out","z":"9d7396f9.8ee148","name":"switch3_out","links":["804b182a.fe8788","7da4a9d8.9e1d08","efb6fe26.eac2d","a5d64b13.a23ed8","388de98a.3c38e6","21bf6ee5.ddd552"],"x":575,"y":500,"wires":[]},{"id":"c8d257f5.178818","type":"ui_template","z":"1507436a.25c38d","group":"da65b3ca.148b6","name":"switch3","order":5,"width":0,"height":0,"format":"<p style=\"text-align:center;\">Captain Peacock</p>\n<p style=\"text-align:left;font-size:75%;\"><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"16\" src=\"{{msg.payload.picbat}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"16\" src=\"{{msg.payload.piconl}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"8\" width=\"8\" src=\"{{msg.payload.picact}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"8\" width=\"8\" src=\"{{msg.payload.piconoff}}\"/>{{msg.payload.Id}} {{msg.payload.LastValue1Change}}</p>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":180,"y":540,"wires":[[]]},{"id":"804b182a.fe8788","type":"link in","z":"1507436a.25c38d","name":"switch3_in","links":["fceffa69.0402d8"],"x":55,"y":540,"wires":[["c8d257f5.178818"]]},{"id":"7f851453.36784c","type":"ui_template","z":"1507436a.25c38d","group":"445d7783.3ce2a8","name":"motion1","order":1,"width":0,"height":0,"format":"<p style=\"text-align:center;\">Hall</p>\n<p style=\"text-align:left;font-size:75%;\"><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"16\" src=\"{{msg.payload.picbat}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"16\" src=\"{{msg.payload.piconl}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"8\" width=\"8\" src=\"{{msg.payload.picact}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"8\" width=\"8\" src=\"{{msg.payload.picmotion}}\"/>{{msg.payload.Id}} {{msg.payload.LastValue1Change}}</p>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":180,"y":980,"wires":[[]]},{"id":"8d452941.681fa8","type":"ui_template","z":"1507436a.25c38d","group":"445d7783.3ce2a8","name":"motion2","order":1,"width":0,"height":0,"format":"<p style=\"text-align:center;\">Living</p>\n<p style=\"text-align:left;font-size:75%;\"><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"16\" src=\"{{msg.payload.picbat}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"16\" src=\"{{msg.payload.piconl}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"8\" width=\"8\" src=\"{{msg.payload.picact}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"8\" width=\"8\" src=\"{{msg.payload.picmotion}}\"/>{{msg.payload.Id}} {{msg.payload.LastValue1Change}}</p>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":180,"y":1040,"wires":[[]]},{"id":"98dc9c51.02e67","type":"link out","z":"9d7396f9.8ee148","name":"sirene1_out","links":["5c5766c8.525be8","70dcb12f.25595","164b03ba.02318c","ea25cb5e.1f8358","ab0f3162.97c2b"],"x":575,"y":580,"wires":[]},{"id":"68e10d80.48f014","type":"debug","z":"1507436a.25c38d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":940,"wires":[]},{"id":"77e89c58.f5fe14","type":"function","z":"1f99a0f6.28665f","name":"insert/update","func":"var f = msg.payload;\nvar pf = msg.payload.payload_fields;\n\n\n\n//node.warn(f);\n//node.warn(pf);\n\n//node.warn(\"pf.type: \" + pf.type)\n\n //node.warn(pf.type);\n\nif(pf.type === 0)\n{\n  //startup message\n  \n  \n  msg.topic=\"INSERT INTO LoraThings (Id, Version, FirstStartup) VALUES('\" + f.dev_id + \"','\" + pf.version + \"',now()) ON DUPLICATE KEY UPDATE Version='\" + pf.version  + \"',LastStartupUpdate=now()\";\n}\nelse if( (pf.type === 1) || (pf.type === 2) || (pf.type === 3) || (pf.type === 4) )\n{\n  //node.warn(f.dev_id);\n  //node.warn(pf.value1);\n  //node.warn(pf.value2);\n  \n//  node.warn(pf.value1);\n\n  if (pf.value1 >= 0x8000)\n  {\n//      node.warn(\"negative\");\n\n      pf.value1 = 0x10000 - pf.value1;\n      pf.value1 = pf.value1 * -1;\n  }\n//    node.warn(pf.value1);\n\n\n  \n\n  //Two data fields\n  msg.topic=\"INSERT INTO LoraThings (Id, Value1, Value2, LastValueUpdate, FirstStartup) VALUES('\" + f.dev_id + \"','\" + pf.value1 + \"','\" + pf.value2 + \"',now(), now()) ON DUPLICATE KEY UPDATE Value1='\" + pf.value1 + \"',Value2='\" + pf.value2 + \"',LastValueUpdate=now()\";\n  //node.warn(msg.topic);\n    \n}\nelse if(pf.type === 5)\n{\n  //Alive message\n  msg.topic=\"INSERT INTO LoraThings (Id, Battery, LastAliveUpdate, FirstStartup) VALUES('\" + f.dev_id + \"','\" + pf.battery + \"',now(), now()) ON DUPLICATE KEY UPDATE Battery='\" + pf.battery  + \"',LastAliveUpdate=now()\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":420,"wires":[["93e89319.8c624","ce8e2055.4e2c4","63f7ed4a.f401c4","771c7f11.8dd4d"]]},{"id":"93e89319.8c624","type":"mysql","z":"1f99a0f6.28665f","mydb":"3afd535f.83c38c","name":"ttndb1","x":490,"y":420,"wires":[[]]},{"id":"ce8e2055.4e2c4","type":"delay","z":"1f99a0f6.28665f","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":500,"wires":[["85252ab.614c6d8"]]},{"id":"85252ab.614c6d8","type":"link out","z":"1f99a0f6.28665f","name":"ttnpost","links":["bfd0afaf.3f9a4"],"x":655,"y":500,"wires":[]},{"id":"63f7ed4a.f401c4","type":"debug","z":"1f99a0f6.28665f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":300,"wires":[]},{"id":"a53c8bb.7ac3978","type":"inject","z":"1217609f.e4311f","name":"Turn Off switch2 At time","topic":"","payload":"{\"dev_id\":\"switch2\",\"port\":1,\"confirmed\":false,\"payload_fields\":{\"type\":1,\"onoff\":0}}","payloadType":"json","repeat":"","crontab":"*/10 1 * * *","once":false,"onceDelay":0.1,"x":210,"y":420,"wires":[["5574378d.ec1f98"]]},{"id":"d6bc21a0.2f2c5","type":"link in","z":"1217609f.e4311f","name":"light1_in","links":["9a1f2d84.7a0db"],"x":35,"y":1160,"wires":[["deb227d6.bd1998"]]},{"id":"deb227d6.bd1998","type":"function","z":"1217609f.e4311f","name":"set payload switches","func":"\n//0 ---10 --- 350  400  ---> OLD\n//0 ---10 --- 500  600  --->\n//         ON         off\nvar _turnon = context.get(\"turnon\");\nvar _turnoff = context.get(\"turnoff\");    \n\nvar newMsg = { payload: {payload_fields:{}} };\n\n//node.warn(\"Id: \" + msg.payload.Id);\n\nvar today = new Date();\nvar hour = today.getHours();\n\n//node.warn(\"Hour: \" + hour);\n\n//node.warn(\"==>\" + msg.payload.Id);\n \nif(msg.payload.Id == \"switch1\")\n{\n   //node.warn(\"switch1: \" + msg.payload.Value1);\n   //node.warn(\"switch1: _turnon: \" + _turnon);\n\n   if ( (msg.payload.Value1 == \"0\") && (_turnon) )\n   {\n     //do not turn around sunset\n     //newMsg.payload = \"{\\\"dev_id\\\":\\\"switch1\\\",\\\"port\\\":1,\\\"confirmed\\\":false,\\\"payload_fields\\\":{\\\"onoff\\\":1}}\";  \n     //node.warn(\"switch1++++++++++++++\");\n     newMsg.payload.dev_id = \"switch1\";\n     newMsg.payload.payload_fields.type = 1;\n     newMsg.payload.payload_fields.onoff = 1;\n     //node.warn(\"switch1 turnon\");\n   }\n   else if ( (msg.payload.Value1 == \"1\") && (_turnoff) )\n   {\n     //newMsg.payload = \"{\\\"dev_id\\\":\\\"switch1\\\",\\\"port\\\":1,\\\"confirmed\\\":false,\\\"payload_fields\\\":{\\\"onoff\\\":0}}\";  \n     newMsg.payload.dev_id = \"switch1\";\n     newMsg.payload.payload_fields.type = 1;\n     newMsg.payload.payload_fields.onoff = 0;\n     //node.warn(\"switch1 turnoff\");\n   }\n   else \n   {\n       newMsg = null;\n   }\n}\nelse if(msg.payload.Id == \"switch2\")\n{\n   //node.warn(\"==>switch2: \" + msg.payload.Value1);\n   if ( (msg.payload.Value1 == \"0\") && (_turnon) )\n   {\n     //node.warn(\"switch2 turn on\");\n\n     //newMsg.payload = \"{\\\"dev_id\\\":\\\"switch2\\\",\\\"port\\\":1,\\\"confirmed\\\":false,\\\"payload_fields\\\":{\\\"onoff\\\":1}}\";  \n     newMsg.payload.dev_id = \"switch2\";\n     newMsg.payload.payload_fields.type = 1;\n     newMsg.payload.payload_fields.onoff = 1;\n   }\n   else if ( (msg.payload.Value1 == \"1\") && (_turnoff) )\n   {\n     //newMsg.payload = \"{\\\"dev_id\\\":\\\"switch2\\\",\\\"port\\\":1,\\\"confirmed\\\":false,\\\"payload_fields\\\":{\\\"onoff\\\":0}}\";  \n     newMsg.payload.dev_id = \"switch2\";\n     newMsg.payload.payload_fields.type = 1;\n     newMsg.payload.payload_fields.onoff = 0;\n   }\n      else \n   {\n       newMsg = null;\n   }\n}\nelse if(msg.payload.Id == \"switch3\")  //Lora Server\n{\n  //newMsg.topic = \"application/2/device/00286e4539923828/tx\";\n  \n   if ( (msg.payload.Value1 == \"0\") && (_turnon) )\n   {\n     //newMsg.payload = \"{\\\"reference\\\":\\\"test1\\\",\\\"confirmed\\\":true,\\\"fPort\\\":1,\\\"data\\\":\\\"AQ==\\\"}\";   \n     //newMsg.payload.referende = \"test1\";\n     //newMsg.payload.confirmed = true;\n     //newMsg.payload.fPort = 1;\n     //newMsg.payload.data = \"AQ==\";\n     newMsg.payload.dev_id = \"switch3\";\n     newMsg.payload.payload_fields.type = 1;\n     newMsg.payload.payload_fields.onoff = 1;\n   }\n   //else if ( (msg.payload.Value1 == \"1\") && (_turnoff) )\n   //{\n    // newMsg.payload.dev_id = \"switch3\";\n    // newMsg.payload.payload_fields.type = 1;\n    // newMsg.payload.payload_fields.onoff = 0;\n   //}\n   else \n   {\n       newMsg = null;\n   }\n}\nelse if(msg.payload.Id == \"motion3\")\n{\n    //test\n    //_turnoff=true;\n   //node.warn(\"motion3: \" + msg.payload.Value2);\n   if ( (msg.payload.Value2 == \"0\") && (_turnon) )\n   {\n     //newMsg.payload = \"{\\\"dev_id\\\":\\\"motion3\\\",\\\"port\\\":1,\\\"confirmed\\\":false,\\\"payload_fields\\\":{\\\"onoff\\\":1}}\";  \n     newMsg.payload.dev_id = \"motion3\";\n     newMsg.payload.payload_fields.type = 1;\n     newMsg.payload.payload_fields.onoff = 1;\n   }\n   else if ( (msg.payload.Value2 == \"1\") && (_turnoff) )\n   {\n     //newMsg.payload = \"{\\\"dev_id\\\":\\\"motion3\\\",\\\"port\\\":1,\\\"confirmed\\\":false,\\\"payload_fields\\\":{\\\"onoff\\\":0}}\";  \n     newMsg.payload.dev_id = \"motion3\";\n     newMsg.payload.payload_fields.type = 1;\n     newMsg.payload.payload_fields.onoff = 0;\n   }\n   else \n   {\n       newMsg = null;\n   }\n}\nelse if(msg.payload.Id == \"light1\")\n{\n    \n  \n \n  //node.warn(\"light1: \" + msg.payload.Value1);\n  _turnon = false;\n  _turnoff = false;\n  \n\n  //>=10 avoid turning on again after switched off throug cron in the night\n\n  if( (msg.payload.Value1 <= 500) && (msg.payload.Value1 >=5) && (hour >=15) )\n  {\n      _turnon = true\n  }\n  else if(msg.payload.Value1 >= 600)\n  {\n    //node.warn(\"**************\");\n    _turnoff = true;\n  }\n  \n  \n  //TEST\n  //_turnon = true;\n  //TEST\n  \n  //node.warn(\"light1 value1: \" + msg.payload.Value1)\n  //node.warn(\"light1 turnon: \" + _turnon);\n  //node.warn(\"light1 turnoff: \"+ _turnoff);\n  context.set(\"turnon\", _turnon);\n  context.set(\"turnoff\", _turnoff);\n  newMsg = null;\n}\nelse //unknown device\n{\n  newMsg = null;\n}\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":220,"y":1120,"wires":[["5574378d.ec1f98"]]},{"id":"8b75d9c1.9cd318","type":"inject","z":"1217609f.e4311f","name":"Turn On  switch1","topic":"","payload":"{\"dev_id\":\"switch1\",\"payload_fields\":{\"type\":1,\"onoff\":1}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":200,"wires":[["5574378d.ec1f98"]]},{"id":"5a54f87c.fd4218","type":"inject","z":"1217609f.e4311f","name":"Turn On  switch2","topic":"","payload":"{\"dev_id\":\"switch2\",\"payload_fields\":{\"type\":1,\"onoff\":1}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":280,"wires":[["5574378d.ec1f98"]]},{"id":"a803b508.88f358","type":"inject","z":"1217609f.e4311f","name":"Turn Off switch1 At time","topic":"","payload":"{\"dev_id\":\"switch1\",\"payload_fields\":{\"type\":1,\"onoff\":0}}","payloadType":"json","repeat":"","crontab":"*/10 1 * * *","once":false,"onceDelay":0.1,"x":210,"y":240,"wires":[["5574378d.ec1f98","b3d462fa.71429"]]},{"id":"7466ee72.ca7a7","type":"link in","z":"1507436a.25c38d","name":"_from_arduino","links":["11ef5a96.0b1d65"],"x":55,"y":1120,"wires":[["7af94ccc.b465e4"]]},{"id":"9c7a8bb7.748ed8","type":"ui_audio","z":"1507436a.25c38d","name":"","group":"4c423b20.35be44","voice":"en-US","always":false,"x":440,"y":1200,"wires":[]},{"id":"7af94ccc.b465e4","type":"function","z":"1507436a.25c38d","name":"format and filter audio","func":"_audio = flow.get(\"audio\") || \"Off\"\n\nvar newMsg = { payload: {} }; \n\nvar id = msg.payload.dev_id;\n\nid = id.slice(0, -1) + \" \" + id.slice(-1);\n\n//newMsg.payload = msg.payload.dev_id;\n\nnewMsg.payload = id;\n\n//node.warn(\"_audio: \" + _audio)\n\nif(_audio == \"On\")\n{\n  return newMsg;\n}\nreturn null;","outputs":1,"noerr":0,"x":380,"y":1120,"wires":[["9c7a8bb7.748ed8","249f7f85.14f7c"]]},{"id":"249f7f85.14f7c","type":"debug","z":"1507436a.25c38d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":1280,"wires":[]},{"id":"c5c80b37.966678","type":"inject","z":"1507436a.25c38d","name":"Test switch1","topic":"","payload":"{\"dev_id\":\"switch1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":1340,"wires":[["7af94ccc.b465e4"]]},{"id":"cc7d3a08.dbc248","type":"ui_switch","z":"1507436a.25c38d","name":"","label":"Audio Off-On","tooltip":"","group":"4c423b20.35be44","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"On","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Off","offvalueType":"str","officon":"","offcolor":"","x":110,"y":1400,"wires":[["4105a77e.2c8e98"]]},{"id":"4105a77e.2c8e98","type":"function","z":"1507436a.25c38d","name":"Set audio status","func":"var _audio = flow.get(\"audio\")\n\nif(msg.payload == \"On\")\n{\n    _audio = \"On\"\n    msg.payload = \"On\"\n    flow.set(\"audio\", _audio)\n    return msg\n}\nelse\n{\n    _audio = \"Off\"\n    flow.set(\"audio\", _audio)\n    return null;\n}","outputs":1,"noerr":0,"x":340,"y":1420,"wires":[["9c7a8bb7.748ed8"]]},{"id":"19a7e4e1.c56b6b","type":"ui_button","z":"1217609f.e4311f","name":"Garage Door Trigger On","group":"42a9afea.d7698","order":1,"width":0,"height":0,"passthru":false,"label":"Open/Close","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"dev_id\":\"doorswitch1\",\"payload_fields\":{\"type\":1,\"onoff\":1}}","payloadType":"json","topic":"","x":190,"y":1200,"wires":[["25c24054.e2b6f","f62c6449.3186d8","5574378d.ec1f98"]]},{"id":"f62c6449.3186d8","type":"delay","z":"1217609f.e4311f","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":1200,"wires":[["bc7e5cdb.8b263"]]},{"id":"bc7e5cdb.8b263","type":"function","z":"1217609f.e4311f","name":"Trig Off","func":"msg.payload.payload_fields.onoff = 0\n\nreturn msg","outputs":1,"noerr":0,"x":660,"y":1200,"wires":[["db2a00b1.d1bca","5574378d.ec1f98"]]},{"id":"25c24054.e2b6f","type":"function","z":"1217609f.e4311f","name":"Bd","func":"var newMsg = { enabled:false, payload:{} };\n\nreturn newMsg\n","outputs":1,"noerr":0,"x":270,"y":1280,"wires":[["19a7e4e1.c56b6b"]]},{"id":"db2a00b1.d1bca","type":"function","z":"1217609f.e4311f","name":"Be","func":"var newMsg = { enabled:true, payload:{} };\n\nreturn newMsg\n","outputs":1,"noerr":0,"x":590,"y":1280,"wires":[["19a7e4e1.c56b6b"]]},{"id":"e663dbe5.809738","type":"link out","z":"9d7396f9.8ee148","name":"door2_out","links":["54592c4c.15ca44","af9ece59.19e38","ea741deb.7f135","abd74db9.435da","feb83fe3.4a423"],"x":575,"y":620,"wires":[]},{"id":"af9ece59.19e38","type":"link in","z":"1507436a.25c38d","name":"door2_in","links":["e663dbe5.809738"],"x":57,"y":1204.6666870117188,"wires":[["991a5c8c.1d079","fab15ecb.94302"]]},{"id":"991a5c8c.1d079","type":"ui_template","z":"1507436a.25c38d","group":"4e2a662c.f25a98","name":"door2","order":1,"width":0,"height":0,"format":"<p style=\"text-align:center;\">Garage big door</p>\n<p style=\"text-align:left;font-size:75%;\"><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"16\" src=\"{{msg.payload.picbat}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"16\" src=\"{{msg.payload.piconl}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"8\" width=\"8\" src=\"{{msg.payload.picact}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"8\" width=\"8\" src=\"{{msg.payload.piconoff}}\"/>{{msg.payload.Id}} {{msg.payload.LastValue1Change}}</p>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":190,"y":1220,"wires":[[]]},{"id":"bc62e034.d140a","type":"link out","z":"9d7396f9.8ee148","name":"doorswitch1_out","links":["85e01de.66735e"],"x":575,"y":660,"wires":[]},{"id":"85e01de.66735e","type":"link in","z":"1507436a.25c38d","name":"doorswitch1_in","links":["bc62e034.d140a"],"x":55,"y":1280,"wires":[["e83db58.83de748"]]},{"id":"e83db58.83de748","type":"ui_template","z":"1507436a.25c38d","group":"da65b3ca.148b6","name":"doorswitch1","order":10,"width":0,"height":0,"format":"<p style=\"text-align:center;\">Garage Opener</p>\n<p style=\"text-align:left;font-size:75%;\"><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"16\" src=\"{{msg.payload.picbat}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"16\" src=\"{{msg.payload.piconl}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"8\" width=\"8\" src=\"{{msg.payload.picact}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"8\" width=\"8\" src=\"{{msg.payload.piconoff}}\"/>{{msg.payload.Id}} {{msg.payload.LastValue1Change}}</p>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":205,"y":1282,"wires":[[]]},{"id":"54592c4c.15ca44","type":"link in","z":"1217609f.e4311f","name":"door2_in","links":["e663dbe5.809738"],"x":75,"y":1340,"wires":[["a89542be.2b22","46ce01f0.fa007"]]},{"id":"a89542be.2b22","type":"debug","z":"1217609f.e4311f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":370,"y":1400,"wires":[]},{"id":"164b03ba.02318c","type":"link in","z":"1507436a.25c38d","name":"sirene1_in","links":["98dc9c51.02e67"],"x":315,"y":420,"wires":[["621f67a3.2f7c08"]]},{"id":"621f67a3.2f7c08","type":"ui_template","z":"1507436a.25c38d","group":"2feaa2a3.59bcee","name":"sirene1","order":1,"width":0,"height":0,"format":"<p style=\"text-align:center;\">Sirene</p>\n<p style=\"text-align:left;font-size:75%;\"><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"16\" src=\"{{msg.payload.picbat}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"16\" src=\"{{msg.payload.piconl}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"8\" width=\"8\" src=\"{{msg.payload.picact}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"8\" width=\"8\" src=\"{{msg.payload.piconoff}}\"/>{{msg.payload.Id}} {{msg.payload.LastValue1Change}}</p>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":420,"y":420,"wires":[[]]},{"id":"554c8bd6.2d9764","type":"link out","z":"9d7396f9.8ee148","name":"motion3_out","links":["75263898.b21988","177e963d.a76e1a","d997906e.7e946","d383d4de.793e68","2c917bd1.944524"],"x":575,"y":700,"wires":[]},{"id":"75263898.b21988","type":"link in","z":"1507436a.25c38d","name":"motion3_in","links":["554c8bd6.2d9764","c0efd04a.820c7"],"x":55,"y":1100,"wires":[["16ab0c0d.9e66c4"]]},{"id":"16ab0c0d.9e66c4","type":"ui_template","z":"1507436a.25c38d","group":"445d7783.3ce2a8","name":"motion3","order":1,"width":0,"height":0,"format":"<p style=\"text-align:center;\">Garage</p>\n<p style=\"text-align:left;font-size:75%;\"><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"16\" src=\"{{msg.payload.picbat}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"16\" src=\"{{msg.payload.piconl}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"8\" width=\"8\" src=\"{{msg.payload.picact}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"8\" width=\"8\" src=\"{{msg.payload.picmotion}}\"/>{{msg.payload.Id}} {{msg.payload.LastValue1Change}}</p>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":180,"y":1100,"wires":[["23d6bb6b.3eaf24"]]},{"id":"3c361f47.87478","type":"ui_button","z":"5f2aaf6e.724ed","name":"Arm","group":"d202e786.ab0988","order":1,"width":0,"height":0,"passthru":false,"label":"Arm","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"action\": \"arm\"}","payloadType":"json","topic":"Leave within 1 minute!","x":110,"y":40,"wires":[["12ae5e49.83a462","60f58a30.2b9324"]]},{"id":"62a65eb8.64202","type":"delay","z":"5f2aaf6e.724ed","name":"leave 2m","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":240,"wires":[["60f58a30.2b9324"]]},{"id":"23364af7.841c46","type":"link in","z":"5f2aaf6e.724ed","name":"door1_in_trigger","links":["9d4db096.92653"],"x":55,"y":300,"wires":[["c74d195a.0d6ee8"]]},{"id":"c74d195a.0d6ee8","type":"function","z":"5f2aaf6e.724ed","name":"action:trigger","func":"//if ( (msg.payload.pastV > 20) || (msg.payload.Value1 == 0) )\nif (msg.payload.Value1 == 0)\n{\n  return null;\n}\n\nmsg.payload.action = \"trigger\";\n\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":280,"wires":[["60f58a30.2b9324","15d57dcf.dd2062"]]},{"id":"c1f8acce.b4ff1","type":"ui_button","z":"5f2aaf6e.724ed","name":"Disarm","group":"d202e786.ab0988","order":2,"width":0,"height":0,"passthru":false,"label":"Disarm","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"action\": \"disarm\"}","payloadType":"json","topic":"","x":120,"y":120,"wires":[["12ae5e49.83a462","60f58a30.2b9324"]]},{"id":"f71dc0ae.e025","type":"switch","z":"5f2aaf6e.724ed","name":"arm_disarm","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"arm","vt":"str"},{"t":"eq","v":"disarm","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":520,"wires":[["3c361f47.87478"],["c1f8acce.b4ff1"]]},{"id":"12ae5e49.83a462","type":"function","z":"5f2aaf6e.724ed","name":"arm disarm mutli message","func":"var newMsg1 = { enabled:false, payload:{} };\nvar newMsg2 = { enabled:false, payload:{} };\n\nif(msg.payload.action == \"arm\")\n{\n  newMsg1.payload.action = \"arm\";\n  newMsg1.enabled = false;   \n  newMsg2.payload.action = \"disarm\";\n  newMsg2.enabled = true; \n}\nif(msg.payload.action == \"disarm\")\n{\n  newMsg1.payload.action = \"arm\";\n  newMsg1.enabled = true;   \n  newMsg2.payload.action = \"disarm\";\n  newMsg2.enabled = false; \n}\n\nreturn [ [newMsg1, newMsg2]];","outputs":1,"noerr":0,"x":260,"y":520,"wires":[["f71dc0ae.e025"]]},{"id":"ee79777e.6a9b58","type":"link in","z":"5f2aaf6e.724ed","name":"motion1_in_trigger","links":["5c1e6f19.b09bc"],"x":55,"y":400,"wires":[["c74d195a.0d6ee8"]]},{"id":"79eeff75.0a4bc","type":"link in","z":"5f2aaf6e.724ed","name":"motion2_in_trigger","links":["af2814cc.44fc48"],"x":55,"y":460,"wires":[["c74d195a.0d6ee8"]]},{"id":"72559033.c5c9","type":"ui_template","z":"5f2aaf6e.724ed","group":"d202e786.ab0988","name":"led status","order":3,"width":0,"height":0,"format":"<p style=\"text-align:center;\">{{msg.payload.status}} {{msg.payload.Id}} {{msg.payload.stamp}}<img style=\"margin: 0px 5px\" align=\"left\" height=\"8\" width=\"8\" src=\"{{msg.payload.picstat}}\"/></p>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":960,"y":80,"wires":[[]]},{"id":"41d81b7.cedf6e4","type":"inject","z":"5f2aaf6e.724ed","name":"Flits on","topic":"","payload":"{\"dev_id\":\"sirene1\",\"payload_fields\":{\"type\":1,\"onoff\":3}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":700,"wires":[["2f5db719.6b45e8"]]},{"id":"ea25cb5e.1f8358","type":"link in","z":"5f2aaf6e.724ed","name":"sirene1_in","links":["98dc9c51.02e67"],"x":1235,"y":320,"wires":[["d5e995f5.3d7998"]]},{"id":"3499ddb.dff6822","type":"inject","z":"5f2aaf6e.724ed","name":"Sirene off","topic":"","payload":"{\"dev_id\":\"sirene1\",\"payload_fields\":{\"type\":1,\"onoff\":2}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":820,"wires":[["2f5db719.6b45e8"]]},{"id":"2984e982.a81276","type":"inject","z":"5f2aaf6e.724ed","name":"Sirene on","topic":"","payload":"{\"dev_id\":\"sirene1\",\"payload_fields\":{\"type\":1,\"onoff\":4}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":760,"wires":[["2f5db719.6b45e8"]]},{"id":"6e4da59.4c91f5c","type":"inject","z":"5f2aaf6e.724ed","name":"LED on","topic":"","payload":"{\"dev_id\":\"sirene1\",\"payload_fields\":{\"onoff\":1,\"type\":1}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":640,"wires":[["2f5db719.6b45e8"]]},{"id":"d5e995f5.3d7998","type":"ui_template","z":"5f2aaf6e.724ed","group":"d202e786.ab0988","name":"Sirene","order":4,"width":"0","height":"0","format":"<p style=\"text-align:left;font-size:75%;\"><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"32\" src=\"{{msg.payload.picsirene}}\"/>Hall {{msg.payload.Id}}</p>\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1350,"y":320,"wires":[[]]},{"id":"2f6219f9.af1da6","type":"link in","z":"5f2aaf6e.724ed","name":"motion1_in","links":["5c1e6f19.b09bc"],"x":1235,"y":380,"wires":[["84f12cfd.70ca4"]]},{"id":"84f12cfd.70ca4","type":"ui_template","z":"5f2aaf6e.724ed","group":"d202e786.ab0988","name":"motion1","order":5,"width":"0","height":"0","format":"<p style=\"text-align:left;font-size:75%;\"><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"32\" src=\"{{msg.payload.picmotion}}\"/>Hall {{msg.payload.Id}}</p>\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1360,"y":380,"wires":[[]]},{"id":"aa471c03.feb2b","type":"link in","z":"5f2aaf6e.724ed","name":"motion2_in","links":["af2814cc.44fc48","7cc9e8a9.d6cce8"],"x":1235,"y":440,"wires":[["5a0086ea.134238"]]},{"id":"5a0086ea.134238","type":"ui_template","z":"5f2aaf6e.724ed","group":"d202e786.ab0988","name":"motion2","order":6,"width":"0","height":"0","format":"<p style=\"text-align:left;font-size:75%;\"><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"32\" src=\"{{msg.payload.picmotion}}\"/>Living {{msg.payload.Id}}</p>\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1360,"y":440,"wires":[[]]},{"id":"c3cb5867.55aa18","type":"link in","z":"5f2aaf6e.724ed","name":"door1_in","links":["9d4db096.92653"],"x":1235,"y":560,"wires":[["b46bb45b.8be048"]]},{"id":"b46bb45b.8be048","type":"ui_template","z":"5f2aaf6e.724ed","group":"d202e786.ab0988","name":"door1","order":8,"width":"0","height":"0","format":"<p style=\"text-align:left;font-size:75%;\"><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"32\" src=\"{{msg.payload.picdoor}}\"/>Garage {{msg.payload.Id}}</p>\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1350,"y":560,"wires":[[]]},{"id":"abd74db9.435da","type":"link in","z":"5f2aaf6e.724ed","name":"door2_in","links":["e663dbe5.809738"],"x":1235,"y":620,"wires":[["1772a612.852d5a"]]},{"id":"1772a612.852d5a","type":"ui_template","z":"5f2aaf6e.724ed","group":"d202e786.ab0988","name":"door2","order":9,"width":"0","height":"0","format":"<p style=\"text-align:left;font-size:75%;\"><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"32\" src=\"{{msg.payload.picdoor}}\"/>Garage {{msg.payload.Id}}</p>\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1350,"y":620,"wires":[[]]},{"id":"d383d4de.793e68","type":"link in","z":"5f2aaf6e.724ed","name":"motion3_in_trigger","links":["554c8bd6.2d9764","c0efd04a.820c7"],"x":55,"y":520,"wires":[["c74d195a.0d6ee8"]]},{"id":"2c917bd1.944524","type":"link in","z":"5f2aaf6e.724ed","name":"motion3_in_trigger","links":["554c8bd6.2d9764","c0efd04a.820c7"],"x":1235,"y":500,"wires":[["a5dfd6b5.f42c98"]]},{"id":"a5dfd6b5.f42c98","type":"ui_template","z":"5f2aaf6e.724ed","group":"d202e786.ab0988","name":"motion3","order":7,"width":"0","height":"0","format":"<p style=\"text-align:left;font-size:75%;\"><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"32\" src=\"{{msg.payload.picmotion}}\"/>Garage {{msg.payload.Id}}</p>\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1360,"y":500,"wires":[[]]},{"id":"60f58a30.2b9324","type":"function","z":"5f2aaf6e.724ed","name":"State Machine","func":"var _status = context.get(\"status\") || \"init\"\n\nvar _newstatus = _status;\n\nvar f = msg.payload;\n_action = f.action;\n\nvar newMsg = { payload: {payload_fields:{}} };\nnewMsg.payload.dev_id = \"sirene1\";\nnewMsg.payload.payload_fields.type = 1;\n\n//node.warn(\"_status: \" + _status);\n//node.warn(\"_action: \" + _action);\n\n//====stamp====\nvar d = Date(); \nvar dstr = d.toString();\ndstr = dstr.slice(0,25);\nnewMsg.payload.stamp = dstr;\n\nif(f.LastValueUpdate) newMsg.payload.LastValueUpdate = f.LastValueUpdate.toString().substr(0, 24);\n\nif(_action == \"disarm\")\n{\n  _newstatus = \"disarmed\";\n  //led off\n  newMsg.payload.payload_fields.onoff = 2;\n  newMsg.payload.picstat = \"/led-green-on.gif\";\n}\nelse if (_action == \"arm\")\n{\n  if(_status == \"disarmed\")\n  {\n    _newstatus = \"armdelay\";\n    //led on\n    newMsg.payload.payload_fields.onoff = 1;\n    newMsg.payload.picstat = \"/led-green-blink.gif\";\n    newMsg.payload.action = \"timer1\"; //call own after time\n  }\n}\nelse if (_action == \"timer1\")\n{\n  newMsg.payload.action = \"none\"; //no round message\n  if(_status == \"armdelay\")\n  {\n    _newstatus = \"armed\";\n    newMsg.payload.picstat = \"/led-red-on.gif\";\n    //sirene led on, not needed\n    newMsg.payload.payload_fields.onoff = 1;\n  }\n}\nelse if (_action == \"timer2\")\n{\n  newMsg.payload.action = \"none\"; //no round message\n  if (_status == \"alarmdelay\")\n  {\n    _newstatus = \"alarm\";\n    newMsg.payload.payload_fields.onoff = 3;\n    newMsg.payload.picstat = \"/led-red-blink.gif\";\n  }\n}\nelse if (_action == \"trigger\")\n{\n  if(_status == \"armed\")\n  {\n    _newstatus = \"alarmdelay\";\n    newMsg.payload.picstat = \"/led-red-blink.gif\";\n    //sirene led on, not needed\n    newMsg.payload.payload_fields.onoff = 1;\n    newMsg.payload.action = \"timer2\"; //call own after time\n  }\n}\n\n//node.warn(\"_newstatus: \" + _newstatus);\n\nif(_status != _newstatus)\n{\n  context.set(\"status\", _newstatus);\n  newMsg.payload.status = _newstatus;\n  if (f.init == \"yes\") return null;  //to avoid beep when deploy\n  return newMsg;\n}\nreturn null;","outputs":1,"noerr":0,"x":440,"y":100,"wires":[["4ed1068f.e1f228","588daa43.b69c34","72559033.c5c9","2f5db719.6b45e8"]]},{"id":"588daa43.b69c34","type":"debug","z":"5f2aaf6e.724ed","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":40,"wires":[]},{"id":"977bc832.ad8218","type":"inject","z":"5f2aaf6e.724ed","name":"Init buttons and status","topic":"","payload":"{\"action\":\"disarm\", \"init\":\"yes\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"1","x":280,"y":420,"wires":[["12ae5e49.83a462","60f58a30.2b9324"]]},{"id":"15d57dcf.dd2062","type":"debug","z":"5f2aaf6e.724ed","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":360,"wires":[]},{"id":"4ed1068f.e1f228","type":"switch","z":"5f2aaf6e.724ed","name":"action timer","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"timer1","vt":"str"},{"t":"eq","v":"timer2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":140,"wires":[["62a65eb8.64202"],["3f9a01d6.abdfee"]]},{"id":"771c7f11.8dd4d","type":"delay","z":"1f99a0f6.28665f","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":600,"wires":[["addbd53f.77d178"]]},{"id":"62dc6c8b.480dc4","type":"function","z":"1f99a0f6.28665f","name":"motion off","func":"//var f = msg.payload;\n//var pf = msg.payload.payload_fields;\n\n//if( (f.dev_id == \"motion1\") || (f.dev_id == \"motion2\") || (f.dev_id == \"motion3\") )\n//{\n    msg.topic=\"UPDATE LoraThings SET Value1='0' WHERE Id='\" + msg.payload.dev_id + \"'\"; \n    return msg;\n//}\n\n","outputs":1,"noerr":0,"x":600,"y":600,"wires":[["93e89319.8c624","ce8e2055.4e2c4"]]},{"id":"23d6bb6b.3eaf24","type":"debug","z":"1507436a.25c38d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":1060,"wires":[]},{"id":"46ce01f0.fa007","type":"ui_template","z":"1217609f.e4311f","group":"42a9afea.d7698","name":"door2","order":9,"width":"0","height":"0","format":"<p style=\"text-align:left;font-size:75%;\"><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"32\" src=\"{{msg.payload.picdoor}}\"/>Garage {{msg.payload.Id}}</p>\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":250,"y":1340,"wires":[[]]},{"id":"fab15ecb.94302","type":"debug","z":"1507436a.25c38d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":1140,"wires":[]},{"id":"addbd53f.77d178","type":"switch","z":"1f99a0f6.28665f","name":"","property":"payload.dev_id","propertyType":"msg","rules":[{"t":"cont","v":"motion","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":600,"wires":[["62dc6c8b.480dc4"],["85252ab.614c6d8"]]},{"id":"69f43db6.a64354","type":"comment","z":"1f99a0f6.28665f","name":"motion sensor does not send off ","info":"","x":470,"y":660,"wires":[]},{"id":"c21914da.15edf8","type":"serial in","z":"4313f3a8.21d0bc","name":"","serial":"dae916bf.273478","x":90,"y":120,"wires":[["ad4074d7.60bb28","80e7e315.8297b"]]},{"id":"d4a0e4b.0981118","type":"debug","z":"4313f3a8.21d0bc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":140,"wires":[]},{"id":"ad4074d7.60bb28","type":"function","z":"4313f3a8.21d0bc","name":"Convert from Arduino Message","func":"// startup = 0, data1=1, data2=2 data3=3 data4=4 alive=5\n \n//012345678901234567890123456\n//[D][08][1][01]\n//[D][04][4][08][98][14][BE]\n//[D][08][5][02][6C]\n//msg.payload.dev_id\n//msg.payload.type\n//msg.payload.payload_fields.value1\n//data1 1 byte (startup)\n//data2 2 bytes big nr. (alive)\n//data3 2 individual bytes\n//data4 2 bytes 2 big nr\n\nvar newMsg = { payload: {payload_fields:{}} };\n\n\nvar inputStr = msg.payload;\nvar startStr;\nvar idStr;\nvar typeStr;\nvar type;\nvar byte1Str;\nvar byte2Str;\nvar byte3Str;\nvar byte4Str;\n\n\nstartStr = inputStr.substr(0, 3);\n//node.warn(\"startStr: \"+ startStr);\n\nif (startStr == \"[D]\")\n{\n  //valid data\n  idStr = inputStr.substr(4,2);\n  newMsg.payload.dev_id = parseInt(idStr, 16)\n  //node.warn(\"dev_id: \" + newMsg.payload.dev_id);\n\n  typeStr = inputStr.substr(8,1);\n  newMsg.payload.payload_fields.type = parseInt(typeStr, 16);\n  type = newMsg.payload.payload_fields.type;\n  //node.warn(\"type: \" + type);\n\n  if(type == 0)\n  {\n      //startup, version, 1 big number\n      byte1Str = inputStr.substr(11,2);\n      byte2Str = inputStr.substr(15,2);\n      newMsg.payload.payload_fields.version = (parseInt(byte1Str, 16) << 8) + parseInt(byte2Str, 16);\n  }\n  else if(type == 1)\n  {\n     byte1Str = inputStr.substr(11,2);\n     newMsg.payload.payload_fields.value1 = parseInt(byte1Str, 16);\n  }\n  else if (type == 2)\n  {\n      //1 big number\n      byte1Str = inputStr.substr(11,2);\n      byte2Str = inputStr.substr(15,2);\n      newMsg.payload.payload_fields.value1 = (parseInt(byte1Str, 16) << 8) + parseInt(byte2Str, 16);\n  }\n  else if (type == 3)\n  {\n      //2 small numbers\n      byte1Str = inputStr.substr(11,2);\n      byte2Str = inputStr.substr(15,2);\n      newMsg.payload.payload_fields.value1 = parseInt(byte1Str, 16); \n      newMsg.payload.payload_fields.value2 = parseInt(byte1Str, 16); \n  }\n  else if (type == 4)\n  {\n      //2 big numbers\n      byte1Str = inputStr.substr(11,2);\n      byte2Str = inputStr.substr(15,2);\n      newMsg.payload.payload_fields.value1 = (parseInt(byte1Str, 16) << 8) + parseInt(byte2Str, 16);\n      \n      byte3Str = inputStr.substr(19,2);\n      byte4Str = inputStr.substr(23,2);\n      newMsg.payload.payload_fields.value2 = (parseInt(byte3Str, 16) << 8) + parseInt(byte4Str, 16);\n  }\n  else if (type == 5)\n  {\n      //alive, battery, 1 big number\n      byte1Str = inputStr.substr(11,2);\n      byte2Str = inputStr.substr(15,2);\n      newMsg.payload.payload_fields.battery = (parseInt(byte1Str, 16) << 8) + parseInt(byte2Str, 16);\n  }  \n  return newMsg;\n}\nelse\n{\n    return null;\n}","outputs":1,"noerr":0,"x":300,"y":220,"wires":[["cfb06b6d.fe9f58"]]},{"id":"cfb06b6d.fe9f58","type":"function","z":"4313f3a8.21d0bc","name":"id translate","func":"\nswitch(msg.payload.dev_id) {\n  case 2:\n    msg.payload.dev_id = \"switch3\"; \n    break;\n  case 3:\n    msg.payload.dev_id = \"temperature2\";\n    break;\n  case 4:\n    msg.payload.dev_id = \"temperature1\";\n    break;\n  case 5:\n    msg.payload.dev_id = \"switch1\"; \n    break;\n  case 6:\n    msg.payload.dev_id = \"switch2\"; \n    break;\n  case 7:\n    msg.payload.dev_id = \"motion1\"; \n    break;\n  case 8:\n    msg.payload.dev_id = \"motion2\"; \n    break;\n  case 9:\n    msg.payload.dev_id = \"motion3\"; \n    break;\n  case 10:\n    msg.payload.dev_id = \"sirene1\"; \n    //msg.payload.dev_id = \"motion3\"; \n    break;\n  case 11:\n    msg.payload.dev_id = \"light1\"; \n    break;\n  case 12:\n    msg.payload.dev_id = \"door1\"; \n    break;\n  case 13:\n    msg.payload.dev_id = \"door2\"; \n    break;\n  case 14:\n    msg.payload.dev_id = \"doorswitch1\"; \n    break;\n  case 15:\n    msg.payload.dev_id = \"rain1\"; \n    break;\n  case 19:\n    msg.payload.dev_id = \"remote1\"; \n    break;\n  case 16:\n    msg.payload.dev_id = \"motion4\"; \n    break;\n\n  case 17:\n    msg.payload.dev_id = \"switch4\"; \n    break;\n  case 18:\n    msg.payload.dev_id = \"clock1\"; \n    break;\n  case 99:\n    msg.payload.dev_id = \"beacon1\"; \n    break;\n  default:\n    node.warn(\"++Unknown++ ->\" + msg.payload.dev_id);\n    msg.payload.dev_id = \"unknown\"; \n    return null;\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":220,"wires":[["11ef5a96.0b1d65"]]},{"id":"11ef5a96.0b1d65","type":"link out","z":"4313f3a8.21d0bc","name":"from_arduino","links":["84124185.029d4","7466ee72.ca7a7","3fd5b85c.242728"],"x":635,"y":300,"wires":[]},{"id":"84124185.029d4","type":"link in","z":"1f99a0f6.28665f","name":"_from_arduino","links":["11ef5a96.0b1d65"],"x":135,"y":420,"wires":[["77e89c58.f5fe14"]]},{"id":"fe6c3744.682e58","type":"inject","z":"4313f3a8.21d0bc","name":"Test motion3","topic":"","payload":"[D][09][1][01]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":340,"wires":[["ad4074d7.60bb28"]]},{"id":"19e1b716.6fee59","type":"inject","z":"4313f3a8.21d0bc","name":"Test door2 open","topic":"","payload":"[D][0D][1][01]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":400,"wires":[["ad4074d7.60bb28"]]},{"id":"b8718045.bd482","type":"inject","z":"4313f3a8.21d0bc","name":"Test door2 bat","topic":"","payload":"[D][0D][5][02][8A]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":520,"wires":[["ad4074d7.60bb28"]]},{"id":"5d0343ba.ab976c","type":"function","z":"4313f3a8.21d0bc","name":"Convert to Arduino Message","func":"\n//[D][08][1][01]\n\n\nvar newMsg = { payload: {} };\n\n\nvar type = msg.payload.payload_fields.type;\nvar typeStr = type.toString(16).toUpperCase();\n\n\nif(type == 6)\n{\n    var yy = msg.payload.payload_fields.yy;\n    var yyStr = yy.toString(16).toUpperCase().padStart(2,0);\n\n    var mm = msg.payload.payload_fields.mm;\n    var mmStr = mm.toString(16).toUpperCase().padStart(2,0);\n\n    var dd = msg.payload.payload_fields.dd;\n    var ddStr = dd.toString(16).toUpperCase().padStart(2,0);\n\n    var hh = msg.payload.payload_fields.hh;\n    var hhStr = hh.toString(16).toUpperCase().padStart(2,0);\n\n    var mi = msg.payload.payload_fields.mi;\n    var miStr = mi.toString(16).toUpperCase().padStart(2,0);\n\n    var ss = msg.payload.payload_fields.ss;\n    var ssStr = ss.toString(16).toUpperCase().padStart(2,0);\n\n    newMsg.payload = \"[C][\" + msg.payload.dev_id + \"][\" + typeStr  + \"][\" + yyStr  + \"][ \" + mmStr  + \"][ \" + ddStr + \"][ \" + hhStr + \"][\" + miStr + \"][\" + ssStr + \"]\";\n    \n}\nelse\n{\n\n  var onoff = msg.payload.payload_fields.onoff;\n  var onoffStr = onoff.toString(16).toUpperCase().padStart(2,0);\n\n  newMsg.payload = \"[C][\" + msg.payload.dev_id + \"][\" + typeStr  + \"][\" + onoffStr + \"]\";\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":460,"y":600,"wires":[["56f5bcc7.558804","aaa2ccf8.8995d"]]},{"id":"56f5bcc7.558804","type":"serial out","z":"4313f3a8.21d0bc","name":"","serial":"dae916bf.273478","x":720,"y":600,"wires":[]},{"id":"18033bc6.7336c4","type":"function","z":"4313f3a8.21d0bc","name":"id translate","func":"\n//node.warn(\"dev_id:\" + msg.payload.dev_id);\nswitch(msg.payload.dev_id) {\n  case \"switch3\":\n    msg.payload.dev_id = \"02\"; \n    break;\n  case \"switch1\":\n    msg.payload.dev_id = \"05\";\n    //node.warn(\"translate ++++++switch1\");\n    break;\n  case \"switch2\":\n    msg.payload.dev_id = \"06\";\n    //node.warn(\"translate ++++++switch2\");\n    break;\n  case \"remote1\":\n    msg.payload.dev_id = \"10\";\n    //node.warn(\"translate ++++++remote1\");\n    break;\n\n  case \"switch4\":\n    msg.payload.dev_id = \"11\";\n    //node.warn(\"translate ++++++switch4\");\n    break;\n\n  case \"motion3\":\n    msg.payload.dev_id = \"09\";\n    break;\n  case \"sirene1\":\n    msg.payload.dev_id = \"0A\";\n    break;\n  case \"doorswitch1\":\n    msg.payload.dev_id = \"0E\";\n    break;\n  case \"clock1\":\n    msg.payload.dev_id = \"12\";\n    break;\n  default:\n    node.warn(\"++Unknown++ <-\" + msg.payload.dev_id);\n    msg.payload.dev_id = \"0\"; \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":600,"wires":[["5d0343ba.ab976c"]]},{"id":"1510e45c.5af79c","type":"link in","z":"4313f3a8.21d0bc","name":"to_arduino","links":["5574378d.ec1f98","2f5db719.6b45e8","48b17118.9aea2","b658f830.668c68","c36e0db2.a3453"],"x":40,"y":600,"wires":[["18033bc6.7336c4","d5c2315.f8b51d"]]},{"id":"5574378d.ec1f98","type":"link out","z":"1217609f.e4311f","name":"_to_arduino","links":["1510e45c.5af79c"],"x":975,"y":460,"wires":[]},{"id":"d5c2315.f8b51d","type":"debug","z":"4313f3a8.21d0bc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":210,"y":700,"wires":[]},{"id":"2f5db719.6b45e8","type":"link out","z":"5f2aaf6e.724ed","name":"_to_arduino","links":["1510e45c.5af79c"],"x":875,"y":660,"wires":[]},{"id":"3b852794.ccc3b8","type":"inject","z":"4313f3a8.21d0bc","name":"Test door2 closed","topic":"","payload":"[D][0D][1][00]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":460,"wires":[["ad4074d7.60bb28"]]},{"id":"feb83fe3.4a423","type":"link in","z":"5f2aaf6e.724ed","name":"door2_in_trigger","links":["e663dbe5.809738"],"x":55,"y":340,"wires":[["c74d195a.0d6ee8"]]},{"id":"3f9a01d6.abdfee","type":"delay","z":"5f2aaf6e.724ed","name":"in 30 sec","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":300,"wires":[["60f58a30.2b9324"]]},{"id":"1caed252.5cb76e","type":"inject","z":"5f2aaf6e.724ed","name":"Test door2 open (trigger)","topic":"","payload":"{\"Id\":\"door2\",\"type\":1,\"Value1\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":940,"wires":[["c74d195a.0d6ee8"]]},{"id":"948832c1.ea339","type":"exec","z":"5f2aaf6e.724ed","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1210,"y":200,"wires":[[],[],[]]},{"id":"206febf7.06b014","type":"function","z":"5f2aaf6e.724ed","name":"","func":"msg.payload  = \"tg/msg.sh Alarm\"\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":200,"wires":[["948832c1.ea339"]]},{"id":"6bc9374b.4e8fb8","type":"inject","z":"5f2aaf6e.724ed","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1000,"y":320,"wires":[["206febf7.06b014"]]},{"id":"88f6fd11.c9dc","type":"link out","z":"9d7396f9.8ee148","name":"remote1_out","links":["f46c8524.324f18"],"x":575,"y":740,"wires":[]},{"id":"a3bb4fd.2620cb","type":"link out","z":"9d7396f9.8ee148","name":"switch4_out","links":["588d21e5.76bb8","a9ba561a.53c8a8"],"x":575,"y":780,"wires":[]},{"id":"f46c8524.324f18","type":"link in","z":"2a5b9314.97adfc","name":"remote1_in","links":["88f6fd11.c9dc"],"x":115,"y":100,"wires":[["91951b92.7e85a8"]]},{"id":"91951b92.7e85a8","type":"function","z":"2a5b9314.97adfc","name":"set payload switch","func":"var newMsg = { payload: {payload_fields:{}} };\n\nif ( (msg.payload.Value1 == \"1\") && (msg.payload.pastV < 5) )   //pastV just hit\n{\n  newMsg.payload.dev_id = \"switch4\";\n  newMsg.payload.payload_fields.type = 1;\n  newMsg.payload.payload_fields.onoff = 1;\n  return newMsg;\n}\n\nreturn null;","outputs":1,"noerr":0,"x":290,"y":100,"wires":[["b41f0298.567dd","578842ba.aedc4c","48b17118.9aea2"]]},{"id":"48b17118.9aea2","type":"link out","z":"2a5b9314.97adfc","name":"_to_arduino","links":["1510e45c.5af79c"],"x":915,"y":100,"wires":[]},{"id":"1602c8e1.2224c7","type":"delay","z":"2a5b9314.97adfc","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":470,"y":260,"wires":[["143ae796.54d108"]]},{"id":"b41f0298.567dd","type":"function","z":"2a5b9314.97adfc","name":"Reset","func":"msg.reset = true;\nmsg.resend_ignore = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":180,"wires":[["1602c8e1.2224c7","3bd57be3.0184b4"]]},{"id":"578842ba.aedc4c","type":"delay","z":"2a5b9314.97adfc","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":220,"y":260,"wires":[["1602c8e1.2224c7"]]},{"id":"143ae796.54d108","type":"function","z":"2a5b9314.97adfc","name":"set payload switch4","func":"var newMsg = { payload: {payload_fields:{}} };\n\n\n  newMsg.payload.dev_id = \"switch4\";\n  newMsg.payload.payload_fields.type = 1;\n  newMsg.payload.payload_fields.onoff = 0;\n  return newMsg;\n","outputs":1,"noerr":0,"x":610,"y":320,"wires":[["3bd57be3.0184b4"]]},{"id":"6234be34.98b3","type":"ui_template","z":"1507436a.25c38d","group":"da65b3ca.148b6","name":"switch4","order":7,"width":0,"height":0,"format":"<p style=\"text-align:center;\">Air Circulation</p>\n<p style=\"text-align:left;font-size:75%;\"><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"16\" src=\"{{msg.payload.picbat}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"16\" src=\"{{msg.payload.piconl}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"8\" width=\"8\" src=\"{{msg.payload.picact}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"8\" width=\"8\" src=\"{{msg.payload.piconoff}}\"/>{{msg.payload.Id}} {{msg.payload.LastValue1Change}}</p>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":180,"y":620,"wires":[[]]},{"id":"588d21e5.76bb8","type":"link in","z":"1507436a.25c38d","name":"switch4_in","links":["a3bb4fd.2620cb"],"x":55,"y":620,"wires":[["6234be34.98b3"]]},{"id":"cb1328b0.506818","type":"ui_template","z":"1507436a.25c38d","group":"da65b3ca.148b6","name":"remote1","order":9,"width":0,"height":0,"format":"<p style=\"text-align:center;\">Air Circulation remote</p>\n<p style=\"text-align:left;font-size:75%;\"><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"16\" src=\"{{msg.payload.picbat}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"16\" src=\"{{msg.payload.piconl}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"8\" width=\"8\" src=\"{{msg.payload.picact}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"8\" width=\"8\" src=\"{{msg.payload.piconoff}}\"/>{{msg.payload.Id}} {{msg.payload.LastValue1Change}}</p>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":180,"y":840,"wires":[[]]},{"id":"388de98a.3c38e6","type":"link in","z":"1507436a.25c38d","name":"remote1_in","links":["fceffa69.0402d8"],"x":55,"y":840,"wires":[["cb1328b0.506818"]]},{"id":"b3d462fa.71429","type":"debug","z":"1217609f.e4311f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":240,"wires":[]},{"id":"264caf17.3b414","type":"file","z":"4313f3a8.21d0bc","name":"","filename":"TL-node-red.log","appendNewline":false,"createDir":false,"overwriteFile":"false","x":720,"y":60,"wires":[[]]},{"id":"80e7e315.8297b","type":"function","z":"4313f3a8.21d0bc","name":"filter [D]","func":"//0123\n//[D]\n//start, end not including end\n\nif (msg.payload.substring(0,3) == \"[D]\")\n{\n  return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"x":420,"y":80,"wires":[["264caf17.3b414","d4a0e4b.0981118"]]},{"id":"aaa2ccf8.8995d","type":"file","z":"4313f3a8.21d0bc","name":"","filename":"TL-node-red.log","appendNewline":true,"createDir":false,"overwriteFile":"false","x":720,"y":480,"wires":[[]]},{"id":"bdb6f0be.19ef3","type":"inject","z":"2a5b9314.97adfc","name":"Manual off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":320,"wires":[["143ae796.54d108"]]},{"id":"3bd57be3.0184b4","type":"msg-resend","z":"2a5b9314.97adfc","interval":5,"intervalUnit":"secs","maximum":"10","bytopic":false,"clone":false,"firstDelayed":false,"addCounters":false,"waitForResend":false,"highRate":false,"outputCountField":"","outputMaxField":"","name":"","x":850,"y":260,"wires":[["57e5109f.c41b3","48b17118.9aea2"]]},{"id":"44237801.b238c8","type":"msg-resend","z":"2a5b9314.97adfc","interval":"3","intervalUnit":"secs","maximum":"3","bytopic":false,"clone":false,"firstDelayed":false,"addCounters":false,"waitForResend":false,"highRate":false,"outputCountField":"","outputMaxField":"","name":"","x":330,"y":460,"wires":[["ef7e0e63.4d8c8"]]},{"id":"ef7e0e63.4d8c8","type":"debug","z":"2a5b9314.97adfc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":460,"wires":[]},{"id":"3d21c091.fbaf1","type":"inject","z":"2a5b9314.97adfc","name":"","topic":"","payload":"{\"hello\":\"aap\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":460,"wires":[["44237801.b238c8"]]},{"id":"980867d8.d8d7e8","type":"inject","z":"2a5b9314.97adfc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":520,"wires":[["3a00c583.23ff3a"]]},{"id":"3a00c583.23ff3a","type":"function","z":"2a5b9314.97adfc","name":"Reset","func":"msg.reset = true;\nmsg.resend_ignore = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":520,"wires":[["44237801.b238c8"]]},{"id":"57e5109f.c41b3","type":"debug","z":"2a5b9314.97adfc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":240,"wires":[]},{"id":"2d29af6c.b6a8","type":"comment","z":"2a5b9314.97adfc","name":"Testing","info":"","x":170,"y":420,"wires":[]},{"id":"666314ac.91858c","type":"inject","z":"1217609f.e4311f","name":"Turn On  switch3","topic":"","payload":"{\"dev_id\":\"switch3\",\"payload_fields\":{\"type\":1,\"onoff\":1}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":460,"wires":[["5574378d.ec1f98"]]},{"id":"94fc9af6.0bd488","type":"inject","z":"1217609f.e4311f","name":"Turn Off switch3 At time","topic":"","payload":"{\"dev_id\":\"switch3\",\"port\":1,\"confirmed\":false,\"payload_fields\":{\"type\":1,\"onoff\":0}}","payloadType":"json","repeat":"","crontab":"*/10 0 * * *","once":false,"onceDelay":0.1,"x":210,"y":520,"wires":[["5574378d.ec1f98"]]},{"id":"3fd5b85c.242728","type":"link in","z":"25c5edf9.35e612","name":"_from_arduino","links":["11ef5a96.0b1d65"],"x":55,"y":240,"wires":[["6f7cef7b.0b25a","bf2421f4.ddf72"]]},{"id":"6f7cef7b.0b25a","type":"function","z":"25c5edf9.35e612","name":"add stamp","func":"\nvar d = Date(); \nvar dstr = d.toString();\n\ndstr = dstr.slice(0,25);\n\n//node.warn(\"d: \" + d);\n//node.warn(\"dstr: \" + dstr);\n\nmsg.payload.stamp = dstr;\n\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["d9270be8.442158","bf2421f4.ddf72"]]},{"id":"42555626.b5fd38","type":"inject","z":"25c5edf9.35e612","name":"Initialize","topic":"","payload":"{\"idnr\":0,\"piconl\":\"/traffic-light-red.png\",\"dev_id\":\"\",\"stamp\":\"\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"5","x":420,"y":40,"wires":[["d9270be8.442158"]]},{"id":"d9270be8.442158","type":"ui_template","z":"25c5edf9.35e612","group":"4c423b20.35be44","name":"Last device","order":2,"width":"6","height":"2","format":"<p style=\"text-align:center;font-size:125%;\">Last device: {{msg.payload.dev_id}}<br>{{msg.payload.stamp}}</p>\n\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":630,"y":80,"wires":[[]]},{"id":"a35f912d.2d798","type":"ui_gauge","z":"25c5edf9.35e612","name":"","group":"4c423b20.35be44","order":3,"width":"6","height":"3","gtype":"donut","title":"Health","label":"online","format":"{{msg.payload.value}}","min":0,"max":"0","colors":["#db0626","#e6e600","#12c427"],"seg1":"","seg2":"","x":790,"y":420,"wires":[]},{"id":"cb27fbab.6c7718","type":"function","z":"25c5edf9.35e612","name":"select","func":"msg.topic=\"SELECT count(*) ok from LoraThings WHERE ( TIME_TO_SEC(TIMEDIFF(now(),LastAliveUpdate)) < 14400) OR (TIME_TO_SEC(TIMEDIFF(now(),LastValueUpdate)) < 14400)\";\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":420,"wires":[["f40bfb3c.acbf08"]]},{"id":"f40bfb3c.acbf08","type":"mysql","z":"25c5edf9.35e612","mydb":"3afd535f.83c38c","name":"ttndb2","x":310,"y":420,"wires":[["dda64198.013c"]]},{"id":"9564b6f7.c59548","type":"inject","z":"25c5edf9.35e612","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":true,"onceDelay":"1","x":130,"y":340,"wires":[["cb27fbab.6c7718","1b4423f4.aebedc"]]},{"id":"dda64198.013c","type":"function","z":"25c5edf9.35e612","name":"","func":"var newMsg = { payload:{} };\n\nnewMsg.payload.value = msg.payload[0].ok;\nreturn newMsg;\n","outputs":1,"noerr":0,"x":450,"y":420,"wires":[["2a3c9973.0ad866"]]},{"id":"1b4423f4.aebedc","type":"function","z":"25c5edf9.35e612","name":"select","func":"msg.topic=\"SELECT count(*) tot from LoraThings\";\n\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":480,"wires":[["4898c812.d4db38"]]},{"id":"4898c812.d4db38","type":"mysql","z":"25c5edf9.35e612","mydb":"3afd535f.83c38c","name":"ttndb2","x":310,"y":480,"wires":[["b8373c94.56bb7"]]},{"id":"bf2421f4.ddf72","type":"debug","z":"25c5edf9.35e612","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":240,"wires":[]},{"id":"80ab6148.41dcd","type":"link out","z":"9d7396f9.8ee148","name":"clock1_out","links":["786e2d4e.e0e914"],"x":575,"y":833.6666870117188,"wires":[]},{"id":"786e2d4e.e0e914","type":"link in","z":"fe00d0b1.867f5","name":"clock1_in","links":["80ab6148.41dcd"],"x":55,"y":120,"wires":[["bd1691b1.8e2e1"]]},{"id":"bd1691b1.8e2e1","type":"function","z":"fe00d0b1.867f5","name":"set payload clock","func":"var newMsg = { payload: {payload_fields:{}} };\n\n//node.warn(\"Id: \" + msg.payload.Id);\n\nvar today = new Date();\n\n\nif(msg.payload.Value1 == \"1\")\n{\n  newMsg.payload.dev_id = \"clock1\";\n  newMsg.payload.payload_fields.type = 1;\n  newMsg.payload.payload_fields.onoff = 0;\n}\nelse if(msg.payload.Value1 == \"2\")\n{\n  newMsg.payload.dev_id = \"clock1\";\n  newMsg.payload.payload_fields.type = 2;\n  newMsg.payload.payload_fields.onoff = 0;\n}\nelse if(msg.payload.Value1 == \"3\")\n{\n  newMsg.payload.dev_id = \"clock1\";\n  newMsg.payload.payload_fields.type = 6;\n  newMsg.payload.payload_fields.yy = today.getFullYear() - 2000;\n  newMsg.payload.payload_fields.mm = today.getMonth() + 1;\n  newMsg.payload.payload_fields.dd = today.getDate();\n  newMsg.payload.payload_fields.hh = today.getHours();\n  newMsg.payload.payload_fields.mi = today.getMinutes();\n  newMsg.payload.payload_fields.ss = today.getSeconds();\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":210,"y":120,"wires":[["673bbae9.a070f4","b658f830.668c68"]]},{"id":"673bbae9.a070f4","type":"debug","z":"fe00d0b1.867f5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":80,"wires":[]},{"id":"b658f830.668c68","type":"link out","z":"fe00d0b1.867f5","name":"_to_arduino","links":["1510e45c.5af79c"],"x":415,"y":160,"wires":[]},{"id":"766f21e8.9bf0b","type":"link in","z":"1217609f.e4311f","name":"switch_in","links":["77b03864.1d8d18","b73a4acc.626338"],"x":35,"y":1100,"wires":[["deb227d6.bd1998"]]},{"id":"20f41b54.3083b4","type":"link in","z":"1217609f.e4311f","name":"switch1_in","links":["77b03864.1d8d18"],"x":35,"y":580,"wires":[["16381a81.0bbb35"]]},{"id":"39a0df7e.fa7b2","type":"ui_template","z":"1217609f.e4311f","group":"da65b3ca.148b6","name":"switch1_sw","order":2,"width":"0","height":"0","format":"<p style=\"text-align:center;font-size:75%;\"><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"64\" src=\"{{msg.payload.picswitch}}\" ng-click=\"send({payload:'clicked'});\"/></p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":310,"y":580,"wires":[["619422eb.a1158c"]]},{"id":"619422eb.a1158c","type":"function","z":"1217609f.e4311f","name":"on/off","func":"//var newMsg = { payload: {} }; \nvar newMsg = { payload: {payload_fields:{}} };\n\nvar _switch1_onoff = flow.get(\"switch1_onoff\");\n\nif(msg.payload == \"clicked\")\n{\n  newMsg.payload.picswitch = \"/switch_on_off.png\";\n  newMsg.payload.dev_id = \"switch1\";\n  newMsg.payload.payload_fields.type = 1;\n  \n  //togle\n  if(_switch1_onoff == 1)\n  {\n    newMsg.payload.payload_fields.onoff = 0;\n  }\n  else \n  {\n    newMsg.payload.payload_fields.onoff = 1;\n  }\n  return newMsg;\n}\n\nreturn null;\n","outputs":1,"noerr":0,"x":470,"y":580,"wires":[["37bceadf.d8b9a6","5574378d.ec1f98"]]},{"id":"37bceadf.d8b9a6","type":"delay","z":"1217609f.e4311f","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":310,"y":660,"wires":[["39a0df7e.fa7b2"]]},{"id":"16381a81.0bbb35","type":"function","z":"1217609f.e4311f","name":"on/off","func":"//var newMsg = { payload: {} }; \nvar newMsg = { payload: {payload_fields:{}} };\n\nif(msg.payload.Value1 == \"1\")\n{\n  newMsg.payload.picswitch = \"/switch_on.png\";\n  flow.set(\"switch1_onoff\", 1);\n  return newMsg;\n}\nelse if(msg.payload.Value1 == \"0\")\n{\n  newMsg.payload.picswitch = \"/switch_off.png\";\n  flow.set(\"switch1_onoff\", 0);\n  return newMsg;\n}\n\nreturn null;\n\n","outputs":1,"noerr":0,"x":130,"y":580,"wires":[["39a0df7e.fa7b2"]]},{"id":"84fbabd3.8f06e8","type":"link in","z":"1217609f.e4311f","name":"switch2_in","links":["b73a4acc.626338"],"x":35,"y":720,"wires":[["12cb3523.5fbfdb"]]},{"id":"21bf6ee5.ddd552","type":"link in","z":"1217609f.e4311f","name":"switch3_in","links":["fceffa69.0402d8"],"x":35,"y":860,"wires":[["46e9be31.f97ee"]]},{"id":"a9ba561a.53c8a8","type":"link in","z":"1217609f.e4311f","name":"switch4_in","links":["a3bb4fd.2620cb"],"x":35,"y":1000,"wires":[["a24439c.a5794c8","f3b9b7d.6800548"]]},{"id":"bd0e37b7.03d5c8","type":"ui_template","z":"1217609f.e4311f","group":"da65b3ca.148b6","name":"switch2_sw","order":4,"width":"0","height":"0","format":"<p style=\"text-align:center;font-size:75%;\"><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"64\" src=\"{{msg.payload.picswitch}}\" ng-click=\"send({payload:'clicked'});\"/></p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":310,"y":720,"wires":[["b4a6c522.5540d8"]]},{"id":"b4a6c522.5540d8","type":"function","z":"1217609f.e4311f","name":"on/off","func":"//var newMsg = { payload: {} }; \nvar newMsg = { payload: {payload_fields:{}} };\n\nvar _switch2_onoff = flow.get(\"switch2_onoff\");\n\nif(msg.payload == \"clicked\")\n{\n  newMsg.payload.picswitch = \"/switch_on_off.png\";\n  newMsg.payload.dev_id = \"switch2\";\n  newMsg.payload.payload_fields.type = 1;\n  \n  //togle\n  if(_switch2_onoff == 1)\n  {\n    newMsg.payload.payload_fields.onoff = 0;\n  }\n  else \n  {\n    newMsg.payload.payload_fields.onoff = 1;\n  }\n  return newMsg;\n}\n\nreturn null;\n","outputs":1,"noerr":0,"x":470,"y":720,"wires":[["3754f47e.c0af2c","5574378d.ec1f98"]]},{"id":"3754f47e.c0af2c","type":"delay","z":"1217609f.e4311f","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":310,"y":800,"wires":[["bd0e37b7.03d5c8"]]},{"id":"12cb3523.5fbfdb","type":"function","z":"1217609f.e4311f","name":"on/off","func":"//var newMsg = { payload: {} }; \nvar newMsg = { payload: {payload_fields:{}} };\n\nif(msg.payload.Value1 == \"1\")\n{\n  newMsg.payload.picswitch = \"/switch_on.png\";\n  flow.set(\"switch2_onoff\", 1);\n  return newMsg;\n}\nelse if(msg.payload.Value1 == \"0\")\n{\n  newMsg.payload.picswitch = \"/switch_off.png\";\n  flow.set(\"switch2_onoff\", 0);\n  return newMsg;\n}\n\nreturn null;\n\n","outputs":1,"noerr":0,"x":130,"y":720,"wires":[["bd0e37b7.03d5c8"]]},{"id":"f6a7a802.4ca788","type":"ui_template","z":"1217609f.e4311f","group":"da65b3ca.148b6","name":"switch3_sw","order":6,"width":"0","height":"0","format":"<p style=\"text-align:center;font-size:75%;\"><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"64\" src=\"{{msg.payload.picswitch}}\" ng-click=\"send({payload:'clicked'});\"/></p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":310,"y":860,"wires":[["1b5d6a05.5cbec6"]]},{"id":"1b5d6a05.5cbec6","type":"function","z":"1217609f.e4311f","name":"on/off","func":"//var newMsg = { payload: {} }; \nvar newMsg = { payload: {payload_fields:{}} };\n\nvar _switch3_onoff = flow.get(\"switch3_onoff\");\n\n//node.warn(\"_switch3_onoff: \" + _switch3_onoff);\n\nif(msg.payload == \"clicked\")\n{\n  newMsg.payload.picswitch = \"/switch_on_off.png\";\n  newMsg.payload.dev_id = \"switch3\";\n  newMsg.payload.payload_fields.type = 1;\n  \n  //togle\n  if(_switch3_onoff == 1)\n  {\n    //node.warn(\"turn off\");\n    newMsg.payload.payload_fields.onoff = 0;\n  }\n  else \n  {\n    //node.warn(\"turn on\");\n    newMsg.payload.payload_fields.onoff = 1;\n  }\n  return newMsg;\n}\n\nreturn null;\n","outputs":1,"noerr":0,"x":470,"y":860,"wires":[["4514cf52.97e28","5574378d.ec1f98","7668bae8.f0ec04","60d383b0.15503c"]]},{"id":"4514cf52.97e28","type":"delay","z":"1217609f.e4311f","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":310,"y":920,"wires":[["f6a7a802.4ca788"]]},{"id":"46e9be31.f97ee","type":"function","z":"1217609f.e4311f","name":"on/off","func":"//var newMsg = { payload: {} }; \nvar newMsg = { payload: {payload_fields:{}} };\n\nif(msg.payload.Value1 == \"1\")\n{\n  newMsg.payload.picswitch = \"/switch_on.png\";\n  flow.set(\"switch3_onoff\", 1);\n  //node.warn(\"switch3 is on\");\n  return newMsg;\n}\nelse if(msg.payload.Value1 == \"0\")\n{\n  newMsg.payload.picswitch = \"/switch_off.png\";\n  flow.set(\"switch3_onoff\", 0);\n  //node.warn(\"switch3 is off\");\n  return newMsg;\n}\n\nreturn null;\n\n","outputs":1,"noerr":0,"x":130,"y":860,"wires":[["f6a7a802.4ca788"]]},{"id":"c79e3046.ebe7b","type":"ui_template","z":"1217609f.e4311f","group":"da65b3ca.148b6","name":"switch4_sw","order":8,"width":"0","height":"0","format":"<p style=\"text-align:center;font-size:75%;\"><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"64\" src=\"{{msg.payload.picswitch}}\" ng-click=\"send({payload:'clicked'});\"/></p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":310,"y":1000,"wires":[["bf0df2b2.5ce73"]]},{"id":"bf0df2b2.5ce73","type":"function","z":"1217609f.e4311f","name":"on/off","func":"//var newMsg = { payload: {} }; \nvar newMsg = { payload: {payload_fields:{}} };\n\nvar _switch4_onoff = flow.get(\"switch4_onoff\");\n\nif(msg.payload == \"clicked\")\n{\n  newMsg.payload.picswitch = \"/switch_on_off.png\";\n  newMsg.payload.dev_id = \"switch4\";\n  newMsg.payload.payload_fields.type = 1;\n  \n  //togle\n  if(_switch4_onoff == 1)\n  {\n    newMsg.payload.payload_fields.onoff = 0;\n  }\n  else \n  {\n    newMsg.payload.payload_fields.onoff = 1;\n  }\n  return newMsg;\n}\n\nreturn null;\n","outputs":1,"noerr":0,"x":470,"y":1000,"wires":[["78fe1c01.62c704","5574378d.ec1f98"]]},{"id":"78fe1c01.62c704","type":"delay","z":"1217609f.e4311f","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":310,"y":1060,"wires":[["c79e3046.ebe7b"]]},{"id":"a24439c.a5794c8","type":"function","z":"1217609f.e4311f","name":"on/off","func":"//var newMsg = { payload: {} }; \nvar newMsg = { payload: {payload_fields:{}} };\n\nif(msg.payload.Value1 == \"1\")\n{\n  newMsg.payload.picswitch = \"/switch_on.png\";\n  flow.set(\"switch4_onoff\", 1);\n  return newMsg;\n}\nelse if(msg.payload.Value1 == \"0\")\n{\n  newMsg.payload.picswitch = \"/switch_off.png\";\n  flow.set(\"switch4_onoff\", 0);\n  return newMsg;\n}\n\nreturn null;\n\n","outputs":1,"noerr":0,"x":130,"y":1000,"wires":[["c79e3046.ebe7b"]]},{"id":"3dc9d36f.a5066c","type":"ui_table","z":"feddcb0.e054338","group":"9e0d5648.0a5768","name":"","order":1,"width":"20","height":"7","columns":[{"field":"Id","title":"Id","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Value1","title":"Value1","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Value2","title":"Value2","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"LastValueUpdate","title":"LastValueUpdate","width":"16px","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"LastValue1Change","title":"LastValue1Change","width":"16px","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"LastAliveUpdate","title":"LastAliveUpdate","width":"16px","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"FirstStartup","title":"FirstStartup","width":"16px","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Battery","title":"Battery","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Version","title":"Version","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":570,"y":180,"wires":[]},{"id":"898f8db2.98b2c","type":"ui_dropdown","z":"feddcb0.e054338","name":"","label":"Select to Delete","tooltip":"","place":"sensor","group":"9e0d5648.0a5768","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"Id","type":"str"}],"payload":"","topic":"","x":260,"y":300,"wires":[["f75519aa.570818"]]},{"id":"e9b40c6d.8f434","type":"function","z":"feddcb0.e054338","name":"","func":"msg.options = [];//create empty array\n\nfor(let i = 0; i < msg.payload.length; i++){\n    let row = msg.payload[i].Id; //get the row\n    let opt = {};//make new opt object\n    //opt[row[0]] = row[1]; //add a propery to object called row[0] & set its value to row[1]\n    //msg.options.push(opt);//add the opt to array    \n        msg.options.push(row);//add the opt to array  \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":200,"wires":[["898f8db2.98b2c"]]},{"id":"54c6d799.5482f8","type":"debug","z":"feddcb0.e054338","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":380,"wires":[]},{"id":"f75519aa.570818","type":"function","z":"feddcb0.e054338","name":"delete","func":"msg.topic=\"DELETE FROM LoraThings WHERE Id=\" + \"'\" + msg.payload + \"'\";\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":380,"wires":[["7c5b2145.39c63"]]},{"id":"7c5b2145.39c63","type":"mysql","z":"feddcb0.e054338","mydb":"3afd535f.83c38c","name":"ttndb3","x":530,"y":380,"wires":[["54c6d799.5482f8","d5d8988d.125238"]]},{"id":"d5d8988d.125238","type":"delay","z":"feddcb0.e054338","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":500,"wires":[["1b9e82db.61044d"]]},{"id":"32adf9cb.533d26","type":"link out","z":"9d7396f9.8ee148","name":"motion4_out","links":["a5a848e0.17a1d8","c0d32799.b17df8"],"x":575,"y":880,"wires":[]},{"id":"a5a848e0.17a1d8","type":"link in","z":"1507436a.25c38d","name":"motion4_in","links":["32adf9cb.533d26"],"x":55,"y":1500,"wires":[["993b56b1.13fc18"]]},{"id":"993b56b1.13fc18","type":"ui_template","z":"1507436a.25c38d","group":"445d7783.3ce2a8","name":"motion4","order":1,"width":0,"height":0,"format":"<p style=\"text-align:center;\">Back Garden</p>\n<p style=\"text-align:left;font-size:75%;\"><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"16\" src=\"{{msg.payload.picbat}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"16\" src=\"{{msg.payload.piconl}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"8\" width=\"8\" src=\"{{msg.payload.picact}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"8\" width=\"8\" src=\"{{msg.payload.picmotion}}\"/>{{msg.payload.Id}} {{msg.payload.LastValue1Change}}</p>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":180,"y":1500,"wires":[[]]},{"id":"f3b9b7d.6800548","type":"debug","z":"1217609f.e4311f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":1080,"wires":[]},{"id":"f9bd08b8.64c428","type":"link out","z":"9d7396f9.8ee148","name":"rain1_out","links":["6a69c83f.fa3728"],"x":575,"y":940,"wires":[]},{"id":"72a5f880.47d9a8","type":"ui_template","z":"1507436a.25c38d","group":"245e82d3.0bd55e","name":"rain1","order":7,"width":0,"height":0,"format":"<p style=\"text-align:left;font-size:75%;\"><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"16\" src=\"{{msg.payload.picbat}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"16\" src=\"{{msg.payload.piconl}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"8\" width=\"8\" src=\"{{msg.payload.picact}}\"/><img style=\"margin: 0px 5px\" align=\"left\" height=\"32\" width=\"32\" src=\"{{msg.payload.picrain}}\"/>{{msg.payload.Id}} {{msg.payload.LastValue1Change}}</p>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":450,"y":680,"wires":[[]]},{"id":"6a69c83f.fa3728","type":"link in","z":"1507436a.25c38d","name":"rain1_in","links":["f9bd08b8.64c428"],"x":55,"y":700,"wires":[["9121a930.b253f8","bdec1cb5.88add"]]},{"id":"9121a930.b253f8","type":"function","z":"1507436a.25c38d","name":"Layout temp1 chart","func":"var newMsg = { topic:\"mm\", payload: 0 };\n\nnewMsg.payload = msg.payload.Value1;\n\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":270,"y":740,"wires":[["a531bf86.e8813"]]},{"id":"a531bf86.e8813","type":"ui_chart","z":"1507436a.25c38d","name":" rain1 chart","group":"245e82d3.0bd55e","order":5,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":470,"y":740,"wires":[[]]},{"id":"bdec1cb5.88add","type":"function","z":"1507436a.25c38d","name":"Layout temp1 chart","func":"\nif(msg.payload.Value1 > 0)\n{\n    msg.payload.picrain = \"/weather_cloud_rain.png\";\n}\nelse\n{\n    msg.payload.picrain = \"/weather_no_rain.png\";\n//        msg.payload.picrain = \"/weather_cloud_rain.png\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":680,"wires":[["72a5f880.47d9a8"]]},{"id":"90224a67.5690d8","type":"ui_template","z":"25c5edf9.35e612","group":"4c423b20.35be44","name":"num sensors","order":4,"width":"4","height":"1","format":"<p style=\"text-align:right;font-size:75%;\">#sensors: {{msg.payload}}</p>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":650,"y":500,"wires":[[]]},{"id":"b8373c94.56bb7","type":"function","z":"25c5edf9.35e612","name":"","func":"var max = msg.payload[0].tot;\nvar min = 0;\n\nvar seg1 = max - 3;\nvar seg2 = max - 2;\n\nmsg = {payload: max, ui_control:{min:min,max:max,seg1:seg1,seg2:seg2}};\nreturn msg;\n","outputs":1,"noerr":0,"x":450,"y":480,"wires":[["90224a67.5690d8","a35f912d.2d798"]]},{"id":"ab6e07b6.68a2b8","type":"function","z":"25c5edf9.35e612","name":"","func":"var data = msg.payload[0].ok;\nmsg = {payload:data};\nreturn msg;\n","outputs":1,"noerr":0,"x":310,"y":580,"wires":[[]]},{"id":"2a3c9973.0ad866","type":"delay","z":"25c5edf9.35e612","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":420,"wires":[["a35f912d.2d798","53a7857c.29557c"]]},{"id":"53a7857c.29557c","type":"debug","z":"25c5edf9.35e612","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":340,"wires":[]},{"id":"f9b700be.11a4d","type":"inject","z":"1217609f.e4311f","name":"Turn On switch2 At time (kerstmis)","topic":"","payload":"{\"dev_id\":\"switch2\",\"port\":1,\"confirmed\":false,\"payload_fields\":{\"type\":1,\"onoff\":1}}","payloadType":"json","repeat":"","crontab":"*/10 6 * * *","once":false,"onceDelay":0.1,"x":240,"y":320,"wires":[[]]},{"id":"3eb5688d.0569c8","type":"inject","z":"1217609f.e4311f","name":"Turn Off switch2 At time","topic":"","payload":"{\"dev_id\":\"switch2\",\"port\":1,\"confirmed\":false,\"payload_fields\":{\"type\":1,\"onoff\":0}}","payloadType":"json","repeat":"","crontab":"*/10 9 * * *","once":false,"onceDelay":0.1,"x":210,"y":360,"wires":[[]]},{"id":"b0eb6872.6c93f8","type":"inject","z":"4313f3a8.21d0bc","name":"Test temperature1","topic":"","payload":"[D][04][4][FF][92][1B][76]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":520,"wires":[["ad4074d7.60bb28"]]},{"id":"41b8caa9.4dc174","type":"function","z":"1217609f.e4311f","name":"on/off","func":"//var newMsg = { payload: {} }; \nvar newMsg = { payload: {payload_fields:{}} };\n\nnewMsg.payload.dev_id = \"switch3\";\nnewMsg.payload.payload_fields.type = 1;\nnewMsg.payload.payload_fields.onoff = 0;\n\nreturn newMsg;","outputs":1,"noerr":0,"x":690,"y":920,"wires":[["5574378d.ec1f98"]]},{"id":"7668bae8.f0ec04","type":"delay","z":"1217609f.e4311f","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":980,"wires":[["41b8caa9.4dc174"]]},{"id":"c0d32799.b17df8","type":"link in","z":"1217609f.e4311f","name":"motion4_in","links":["32adf9cb.533d26"],"x":35,"y":920,"wires":[["33cd6c17.a16424","44ec2218.57548c"]]},{"id":"33cd6c17.a16424","type":"debug","z":"1217609f.e4311f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":130,"y":960,"wires":[]},{"id":"60d383b0.15503c","type":"debug","z":"1217609f.e4311f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":800,"wires":[]},{"id":"44ec2218.57548c","type":"function","z":"1217609f.e4311f","name":"on/off","func":"//var newMsg = { payload: {} }; \nvar newMsg = { payload: {payload_fields:{}} };\n\nvar today = new Date();\nvar hour = today.getHours();\n\n\nif(msg.payload.Value1 == \"1\")\n{\n  if ( (hour > 9) && (hour < 21) )\n  {\n    newMsg.payload= \"clicked\";\n    return newMsg;\n  }\n}\n\nreturn null;\n\n","outputs":1,"noerr":0,"x":130,"y":920,"wires":[["1b5d6a05.5cbec6"]]},{"id":"160dc2ba.9bc8cd","type":"exec","z":"1507436a.25c38d","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":770,"y":240,"wires":[[],[],[]]},{"id":"95411e92.ae215","type":"function","z":"1507436a.25c38d","name":"","func":"var newMsg = { payload: \"\" };\nnewMsg.payload  = \"tg/msg.sh Freezer\";\n\nnode.warn(msg.payload.Value1);\n\nif(msg.payload.Value1 > -10.0)\n{\n  return newMsg;\n}\nreturn null;","outputs":1,"noerr":0,"x":610,"y":260,"wires":[["160dc2ba.9bc8cd","1cc45143.79935f"]]},{"id":"99ca4e35.73dce","type":"inject","z":"1507436a.25c38d","name":"","topic":"","payload":"{\"Value1\": -1700 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":580,"y":360,"wires":[["95411e92.ae215"]]},{"id":"1cc45143.79935f","type":"debug","z":"1507436a.25c38d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":200,"wires":[]}]